<template>
	<view class="container">
		 <!-- #ifdef MP-WEIXIN -->
		   <view v-if="isCanUse">
				<view>
					<view class='header'>
					    <image :src="minioUrl+'logo.png'" class="img200"></image>
					</view>
					<view class='content'>
						<view>为了体验更多内容和确保您的账户安全，请先创建用户。</view>
						<view> 
							<radio-group @change="checkboxChange" class="margin-right-xs">
								<checkbox value="checked" class='cyan'></checkbox>
							</radio-group>
							阅读并同意以下协议<text class="dui-text-cblue dui-text-underline" @tap="href(0)">【服务协议】</text>及<text class="dui-text-cblue dui-text-underline" @tap="href(1)">【隐私协议】</text>
						</view>
						 <view>申请获取以下权限</view>
						<text class="text-gray margin-top-xl">获得你的公开信息(手机号，昵称，头像、地区等)</text>
					</view>
					<button class='bottom dui-bg-cblue' @click="wxGetUserInfo">
						确定
					</button>
				</view>
		   </view>
			<view class="logged dui-margin-t-100 text-center" v-else>
				 <tui-icon name="wechat" color="#008000" size="100" unit="rpx"></tui-icon>
				<view class="text-df dui-color-333 margin-tb-sm text-center">近期你已经授权登录过吾家医</view>
				<view class="text-df dui-color-333 margin-tb-sm text-center">自动登录中</view>
			</view>
		 <!-- #endif -->
		 <tui-modal :show="showPhone" @cancel="hide" :custom="true">
		 	<view class="tui-modal-custom">
		 		<view class="tui-modal-custom-text text-center dui-font-bold dui-fontsize-32">点击获取您的手机号</view>
				<button  class='bottom dui-bg-cblue' open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">微信授权</button>
		 	</view>
		 </tui-modal>
		 <tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
import { mapMutations } from 'vuex';
import {mapState} from 'vuex'
import {genTestUserSig} from '../../static/utils/GenerateTestUserSig'
export default {
        data() {
            return {
                OpenId: '',
                isCanUse: uni.getStorageSync('isCanUse')||true,//默认为true
				minioUrl :this.config.minioUrl,//静态资源路径
				sessionKey:'',//微信获取的key值
				showPhone: false,
				isCheck:false,
				phone:'',//用户手机号
				wxUserInfo:'',//获取到的用户信息
				loadding: false
            };
        },
		onLoad(option) {//默认加载
			if (option.scene) {
			 uni.setStorageSync('doctorId', option.scene);
			} 
			this.exitToken() 
		},
        methods: {
			//判断用户是否登录过
			exitToken() {
				const unionId =  uni.getStorageSync('unionId')
				if (unionId != '' && unionId != undefined) {
					this.isCanUse = false
					//调用登录接口login/login
					this.login()
				} else {
					this.isCanUse = true
					this.wechatLogin();
				}
			  },
			//获取微信code码
			 wechatLogin() {
				let _this = this;
			   // 1.wx获取登录用户code
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						let code = loginRes.code;
						let data = {
							code: code, 
							appId: _this.config.appId
						}
					   //2,利用code码获取用户的openid
					   _this.tui.request('mall-portal/wx/login', 'GET', data, false, false, true,'mall').then((res) => {
						   console.log(res)
						   if(res.code == 200){
							   _this.tui.setWechatInfo(res.data.unionid,res.data.openid)
							   _this.sessionKey = res.data.sessionKey
						   }else{
							   
						   }
						 console.log(res)
					   })
					   
					},
				});
			},
            //第一授权获取用户信息点击“授权”触发
            wxGetUserInfo() {
				if(this.isCheck){
					let _this = this;
					 wx.getUserProfile({
						  lang:"zh_CN",
						  desc: '用于完善会员资料', // 声明获取用户个人信息后的用途，后续会展示在弹窗中，请谨慎填写
						  success: (infoRes) => {
							  console.log(infoRes)
							uni.setStorageSync('isCanUse', false);
							uni.setStorageSync('wxUserInfo', infoRes.userInfo);
							_this.showPhone = true;
							_this.wxUserInfo = infoRes.userInfo
						  }
						})
				}else{
					 this.tui.toast('请勾选协议')
				}
				
            }, 
		  /* 获取手机号信息 */
		   getPhoneNumber: function(e) { 
			   this.showPhone = false;
			   if(e.detail.errMsg.indexOf('denied') > -1 || e.detail.errMsg.indexOf('deny') > -1){
				   this.tui.toast('请允许授权')
			   }else{
				   /* 将加密信息传给后台解密 */
				   this.getWxUserPhone(e.detail.encryptedData,e.detail.iv)
			   }	  
			} ,
			/* 将加密信息传至服务器解析 */
			getWxUserPhone(encryptedData, iv) {
				  let _this = this;
				  console.log(_this.sessionKey)
				  let data={
					  appId:this.config.appId,
					  encryptedData: encryptedData,
					  iv: iv,
					  sessionKey:  _this.sessionKey
				  }
				  console.log(data)
				  _this.tui.request('mall-portal/wx/phone', 'GET', data, false, false, true,'mall').then((res) => {
					  console.log(res)
					   if(res.code == 200){
						   this.phone = res.data.phoneNumber
						   uni.setStorageSync("phone", res.data.phoneNumber)
						   _this.login()//正常流程
					   }else{
						   
					   }
				  })
			  },
　　　　　//登录
			login(){
				this.loadding = true
				let _this = this;
				let unionId = uni.getStorageSync('unionId')
				let openId = uni.getStorageSync('openId')
				let appId = this.config.appId	
				let data={}
				this.tui.request('mall-portal/sso/wx/login?unionId='+unionId+'&openId='+openId+'&appId='+appId, 'POST', data, false, false, true,'mall').then((res) => {
					 this.loadding = false
					 if(res.code == 200){
						  if (res.data.token != '') {
							 try {
							  _this.tui.setToken(res.data.token)
							  _this.userInfo()
							 } catch (err) {
							   uni.clearStorage()
							 }
							}else{}
					 }else if(res.code !='200' && res.message =="该账号不存在"){
						  _this.register()
					 }else{
						uni.showModal({ 
						    title: '温馨提示',
						    content: res.msg,
							 showCancel:false,
							 confirmText:"确定",
						    success: function (res) {}
						});
					 }
				})
			},
			//一键注册
			register(){
				let _this = this
				let wxUserInfo = uni.getStorageSync('wxUserInfo')
				let data={
					unionId:uni.getStorageSync('unionId'),
					openId:uni.getStorageSync('openId'),
					appId:this.config.appId,
					phone:uni.getStorageSync('phone'),
					nickname: wxUserInfo.nickName,
					icon:wxUserInfo.avatarUrl,
					city:wxUserInfo.city,
					gender:wxUserInfo.gender,
				}
				this.tui.request('mall-portal/sso/wx/register', 'POST', data, false, false, true,'mall').then((res) => {
					 if(res.code == 200){
						this.login()
					 }else{
						 uni.showModal({
						     title: '温馨提示',
						     content: '注册失败，请重试',
							 showCancel:false,
							 confirmText:"确定",
						     success: function (res) {
						         if (res.confirm) {
									_this.isCanUse = true
						           uni.clearStorageSync()        
						         } else if (res.cancel) {
						         }
						     }
						 });
						
					 }
				})
			},
			/* 获取用户信息 */
			userInfo(){
			  this.tui.userInfo().then((res) => {
				 this.loginIM(res.id)
				 uni.setStorageSync("userInfo",res)
			  })
			},
			/* 登录IM */
			loginIM(userId) {
				let id = userId.toString()
				wx.$app.login({
					userID: id,
					userSig: genTestUserSig(id).userSig
				}).then(() => {
					wx.switchTab({
						url: '../home/home'
					})
				}).catch(() => {
					this.loading = false
				})
			},
			/* 跳转页面 */
			href(page) {
				let url = '';
				url = "../login/serviceAgreement?type=" + page//服务协议
				switch (page) {
					case 0:
						url = "../login/serviceAgreement"//服务协议
						break;
					case 1:
						url = "../login/privacyAgreement"//隐私协议
						break;
					default:
						break;
				}
				if (url) {
					this.tui.href(url)
					
				} else {
					this.tui.toast("正在开发中，敬请期待~")
				}
			},
            //勾选框是否同意协议
             checkboxChange: function (e) {//协议是否选中
				 if (e.detail.value == 'checked') {
					this.isCheck= true
				 } else {
					this.isCheck= false
				 }
           }
        }
    }
</script>

<style lang="scss">
	.header {
        margin: 90rpx 0 40rpx 50rpx;
        text-align: center;
        width: 650rpx;
        height: 200rpx;
    }
    .content {
        margin: 0 40rpx;
        margin-bottom: 90rpx;
		line-height: 2;
    }
    .bottom {
        border-radius: 80rpx;
        margin: 50rpx 50rpx 30rpx 50rpx;
        font-size: 35rpx;
    }

</style>