<template>
	<view class="text-lg dui-lineheight-2">
		<view class='padding'>
			<image :src="minioUrl+'agreement/agreement_ysxy.jpg'" mode="widthFix" style="width:750rpx"></image>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				minioUrl :this.config.minioUrl,//静态资源路径
			}
		},
		methods: {
			
		}
	}
</script>
