<template>
	<view class="container dui-padding-20">
		<image :src="minioUrl+'agreement/agreement_fwxy.jpg'" mode="widthFix" style="width:750rpx"></image>
	</view>
</template>

<script>
	export default{
		data() {
			return {
				minioUrl :this.config.minioUrl,//静态资源路径
				loadding: true,//判断是否加载完成
				content: '',
				type: 0
			};
		},
		onLoad(options) {
			this.type = options.type
			if(this.type == 0){
				this.getServiceData()
			}else{
				this.getProtocolData()
			}
		},
		methods:{
			/* 获取服务协议 */
			 getServiceData(){
				 this.loadding = true
				let data={};
				this.tui.request('mall-portal/sso/serviceProtocol/noAuth', 'GET', data, false, false, true).then((res) => {
					if(res.code == 200){
						this.content = res.data
					}else{
						this.tui.showToast(res.msg,'none')
					}
					this.loadding = false
				})
			},
			/* 获取隐私协议 */
			 getProtocolData(){
				 this.loadding = true
				let data={};
				this.tui.request('mall-portal/sso/protocol/noAuth', 'GET', data, false, false, true).then((res) => {
					if(res.code == 200){
						this.content = res.data
					}else{
						this.tui.showToast(res.msg,'none')
					}
					this.loadding = false
				})
			},
		}
	}
</script>

<style>
</style>

