<template>
	<view class="container">
		<view v-if="dataList.length > 0" class="tui-list-item bg-white" v-for="(item,dataIndex) in dataList" :key="dataIndex" @tap="detail(item.id)">
			<view class="tui-data-attr">医院：{{item.hospital}}</view>
			<view class="tui-data-name margin-top">医生：<text class="text-black text-bold">{{item.docterName}}</text> <text class="margin-left">{{item.keshi}}</text><text class="margin-left">{{item.jibie}}</text></view>
			<view class="margin-top">就诊时间：<text class="text-gray text-df">{{item.time}}</text></view>
		</view>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :width="256" :fixed="false" style="margin-top: 500rpx;" :imgUrl="minioUrl+'img_nodata.png'">暂无记录</tui-no-data>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
		<tui-nomore v-if="!pullUpOn" backgroundColor="#fafafa"></tui-nomore>
		<!--加载loadding-->
	</view>
</template>
<script>
	export default {
		data() {
			return {
				minioUrl:this.config.minioUrl,//静态图片地址
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: false,
				pullUpOn: true,
				scrollTop: 0,
				listStatus: '',
				dataList: [
					{
						'id':'1',
						'docterName':'单鹏飞',
						'docterPic':this.config.minioUrl+'drshan.png',
						'keshi':'内分泌科-糖尿病专科',
						'jibie':'主任医师',
						'hospital':'浙江大学医学院第二附属医院',
						'zhusu':'糖尿病II型，需要注射胰岛素。',
						'zongjie':'每天多吃清淡，不能饮用碳酸饮料，甜食等。',
						'time':'2021-04-15 10:10:20',
						'num':'10',
						'isEvaluate':true
					},
					{
						'id':'2',
						'docterName':'单鹏飞2',
						'docterPic':this.config.minioUrl+'drshan.png',
						'keshi':'内分泌科-糖尿病专科',
						'jibie':'主任医师',
						'hospital':'浙江大学医学院第二附属医院',
						'zhusu':'糖尿病II型，需要注射胰岛素。',
						'zongjie':'每天多吃清淡，不能饮用碳酸饮料，甜食等。',
						'time':'2021-04-15 11:20:30',
						'num':'20',
						'isEvaluate':false
					}
				]			,
			}
		},
		onLoad(option) {
			console.log(option)
			this.currentTab = option.index
			this.listStatus = option.type
			// this.getDataList()
			//隐藏左上角小房子
			//uni.hideHomeButton()
		},
		methods: {
			//获取数据列表
			getDataList() {
				this.loadding = true;
				let data = {
					listStatus: this.listStatus,
					pageNum: this.pageIndex,
					pageSize: this.pageSize
				}
				this.tui.request('orders/list', 'POST', data, false, false, true).then((res) => {
					console.log(res)
					if (res.meta.success && res.meta.code == 10000) {
						this.count = res.data.count
						var lists = res.data.list
						 for (let item of lists) {
							item.createTime = utils.formatDate(false, item.createTime * 1000);
						}
						this.dataList =this.dataList.concat(lists)
					}
					this.loadding = false;
				})
			},
			//跳转详情
			detail(id) {
				uni.navigateTo({
					url: './diagnosisDetail?id=' + id
				})
			}
			
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.loadding = true;
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count/this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了','none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		} ,
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}
	.tui-list-item {
		border-radius: 10rpx;
		overflow: hidden;
		border: 1px solid #efefef;
		margin: 20rpx 20rpx 0;
		padding:0rpx 20rpx 20rpx;
		box-shadow: 2px 2px 3px #efefef;
	}
	.tui-data-name {
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		font-size: 28rpx;
		line-height: 32rpx;
	}

	.tui-data-attr {
		font-size: 28rpx;
		line-height: 32rpx;
		padding-top: 20rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
</style>
