<template>
	<view class="container bg-white">
		<view class="tui-list-item">
			<view class="padding-top-sm">医院：浙江大学医学院第二附属医院</view>
			<view class="margin-top">医生：<text class="text-black text-bold">单鹏飞</text> <text class="margin-left">内分泌科-糖尿病专科</text><text class="margin-left">主任医师</text></view>
			<view class="margin-top">就诊时间：<text class="text-gray text-df">2021-04-15 10:10:20</text></view>
			<view class="margin-top">
				<view>病例图片：</view>
				<view class="img flex justify-start margin-top-sm">
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10" @tap="preview"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
				</view>
			</view>
			<view class="margin-top">
				<view>检查单图片：</view>
				<view class="img flex justify-start margin-top-sm">
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
				</view>
			</view>
			<view class="margin-top">
				<view>化验单图片：</view>
				<view class="img flex justify-start margin-top-sm">
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10" @tap="preview"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
				</view>
			</view>
			<view class="margin-top">
				<view>病例送检单图片：</view>
				<view class="img flex justify-start margin-top-sm">
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
					<image :src="minioUrl+'yiliao.jpg'" mode="widthFix" class="margin-left-xs dui-border-redius10"></image>
				</view>
			</view>
			<view class="margin-top">
				<view>病例送检单图片：</view>
				<view class="img flex justify-start margin-top-sm">
					无
				</view>
			</view>
		</view>
	</view>
</template>
<script>
	export default {
		data() {
			return {
				minioUrl:this.config.minioUrl,//静态图片地址
				clockInResourceUrl:['http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eo9ekDbBSCg4bibQHE1EdafEnIXJh3cdmvY9HncuRF5Ic9eol6DWp8IKuLjegEbvoGzBOLaurYfWbg/132'],
				id:''//本详情id
			}
		},
		onLoad(option) {
			console.log(option)
            this.id = option.id
			//隐藏左上角小房子
			//uni.hideHomeButton()
		},
		methods: {
			//获取详情
			  getDetail(){
				  
			  },
			 //图片放大
			  preview(event) {
			    var that = this
			    let currentUrl = event.currentTarget.dataset.src
			    wx.previewImage({
			      current: currentUrl, // 当前显示图片的http链接
			      urls: that.clockInResourceUrl // 需要预览的图片http链接列表
			    })
			  }
		}
	}
</script>

<style>
	.tui-list-item {
		overflow: hidden;
		margin: 20rpx 20rpx 0;
		padding:0rpx 20rpx 20rpx;
	}
	.tui-list-item::after{
		border:none;
	}
</style>
