
<template>
	<view class="container">
		<tui-picture-cropper :lockRatio="true" :imageUrl="imageUrl" @ready="ready" @cropper="cropper"></tui-picture-cropper>
	</view>
</template>

<script>
export default {
	data() {
		return {
			src: '',
			imageUrl: '' //要裁剪的图片
		};
	},
	onLoad(options) {
		this.src = options.src || '';
		//如果从上个页面传值时可显示loading
		this.src &&
			uni.showLoading({
				title: '请稍候...',
				mask: true
			});
	},
	methods: {
		ready() {
			this.imageUrl = this.src;
		},
		cropper(e) {
			console.log(e)
			//裁剪完成后处理逻辑
			if(e.url){
				
				// uni.previewImage({
				// 	current: '', // 当前显示图片的http链接
				// 	urls: [e.url] // 需要预览的图片http链接列表
				// });
				var that = this
				/* 调用接口传至后台服务器 */
				wx.uploadFile({
				   //路径填你上传图片方法的地址
				   url: this.config.apiMallUrl+'mall-admin/minio/upload',
				   filePath: e.url,
				   name: 'file',
				   formData: {
					 'token': this.tui.getToken()
				   },
				   success: function (res) {
					   console.log(res)
					  var setUrl = ''
					   var data = JSON.parse(res.data)
					   setUrl = data.data
					   that.formSubmit(setUrl)
				   },
				   fail: function (res) {
					   console.log(res)
					 that.showMessage('上传失败')
				   }
				 })
			}else{
				console.log(e.base64)
				this.tui.toast('裁剪成功！查看控制台打印')
			}
		},
		formSubmit(url){
			let data={
				icon:url
			}
			this.tui.request('mall-portal/sso/wx/update', 'POST', data, false, false, true).then((res) => {
				console.log(res)
				if(res.code){
					this.tui.showToast('修改成功','none')
					/* 回退到前一个页面 */
					uni.navigateBack({
						delta:1
					})
				}else{
					this.tui.showToast(res.msg,'none')
				}
			})
		}
	}
};
</script>

<style></style>
