<template>
	<view class="container">
		<view class="tui-form">
			<view class="tui-view-input">
				<tui-list-cell :hover="false" :lineLeft="false" backgroundColor="transparent">
					<view class="tui-cell-input">
						<tui-icon name="mobile" color="#6d7a87" :size="20"></tui-icon>
						<input :value="phone" placeholder-class="tui-phcolor" type="number" maxlength="11" disabled="true"/>
					</view>
				</tui-list-cell>
				<tui-list-cell :hover="false" :lineLeft="false" backgroundColor="transparent">
					<view class="tui-cell-input">
						<tui-icon name="mobile" color="#6d7a87" :size="20"></tui-icon>
						<input :value="newPhone" placeholder="请输入新手机号" placeholder-class="tui-phcolor" type="number" maxlength="11" @input="inputphone"/>
					</view>
				</tui-list-cell>
				<tui-list-cell :hover="false" :lineLeft="false" backgroundColor="transparent">
					<view class="tui-cell-input">
						<tui-icon name="shield" color="#6d7a87" :size="20"></tui-icon>
						<input placeholder="请输入验证码" placeholder-class="tui-phcolor" type="text" maxlength="6" @input="inputCode" />
					    <tui-countdown v-if="isSend" :time="90" :hours="false" :minutes="false" scale unitEn  :isColon="false" @end="endOfTime"></tui-countdown>
					    <view class="tui-btn-send" v-else :class="{ 'tui-gray': isSend }" :hover-class="isSend ? '' : 'tui-opcity'" :hover-stay-time="150" @tap="getCode()">{{ btnSendText }}</view>
					</view>
				</tui-list-cell>
			</view>
			<view class="tui-btn-box">
				<tui-button shadow height="88rpx" shape="circle" :disabled="disabled" type="blue" @tap="submit()" >确定</tui-button>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	computed: {
		disabled: function() {
			let bool = true;
			if (this.phone && this.code) {
				bool = false;
			}
			return bool;
		}
	},
	data() {
		return {
			phone: '',
			newPhone:'',
			code: '',
			isSend: false,
			btnSendText: '获取验证码', //倒计时格式：(60秒)
			from:1,
			phoneReg:this.config.phoneReg,
		};
	},
	onLoad(options){
		this.way = options.way
		this.tui.userInfo().then((res) => {
			this.phone = res.phone
		})
	},
	methods: {
		//获取输入的手机号信息
		inputphone: function(e) {
			this.newPhone = e.detail.value;
		},
		//获取验证码
		getCode(){
			let phone = this.phone;
			if(!this.phoneReg.test(phone)){
				this.tui.showToast("请输入正确的手机号","none")
				return false
			}
			let data={
				telephone:phone,
			};
			this.tui.request('mall-portal/sso/wx/getAuthCode', 'GET', data, false, false, true,'mall').then((res) => {
				console.log(res)
				if(res.code == 200){
					/* this.code = res.data.code; */
					this.isSend = true
				}else{
					uni.showToast({
					    title: res.msg,
					    duration: 2000,
						icon:'none'
					});
				}
			})
		},
		//提交
		submit(){
			let data={
				oldPhone:this.phone,
				newPhone: this.newPhone, 
				code: this.code, 
			};
			this.tui.request('mall-portal/sso/wx/phone?oldPhone='+this.phone+'&newPhone='+this.newPhone+'&code='+this.code, 'POST', data, false, false, true,'mall').then((res) => {
				if(res.code == 200){
					this.tui.showToast("修改成功","success","../my/myinfo",'navigateBack')
				}else{
					this.tui.showToast(res.message,'none')
				}
			})
		},	
		//获取输入的验证码信息
		inputCode(e) {
			this.code = e.detail.value;
		},
		//倒计时结束
		endOfTime(){
			this.isSend = false
		},
		//获取密码
		inputPwd(e){
			this.password = e.detail.value;
		},
		//清除密码
		clearInput() {
			this.password = '';
		},
	}
};
</script>

<style lang="scss" scoped>
.container {
	.tui-form {
		padding-top: 50rpx;
		.tui-view-input {
			width: 100%;
			box-sizing: border-box;
			padding: 0 40rpx;
			.tui-cell-input {
				width: 100%;
				display: flex;
				align-items: center;
				padding-top: 48rpx;
				padding-bottom: $uni-spacing-col-base;
				input {
					flex: 1;
					padding-left: $uni-spacing-row-base;
				}
				.tui-btn-send {
					width: 156rpx;
					text-align: right;
					flex-shrink: 0;
					font-size: $uni-font-size-base;
					color: $uni-color-primary;
				}
				.tui-gray {
					color: $uni-text-color-placeholder;
				}
			}
		}
		.tui-btn-box {
			width: 70%;
			padding: 0 $uni-spacing-row-lg;
			box-sizing: border-box;
			margin:80rpx 15%;
			
		}
	}
}
</style>
