<template>
	<view class="container">
		<tui-list-cell :hover="false" :lineLeft="false">
			<view class="tui-cell-input">
				<input :value="userName" placeholder="请输入姓名" placeholder-class="tui-phcolor" type="text" :auto-focus="true" :focus="true" maxlength="40" @input="inputuserName" />
				<!-- <icon type="clear" :size="14" color="#bfbfbf" v-show="userName" @tap="clearInput"></icon> -->
			</view>
		</tui-list-cell>
		<view class="tui-btn-box">
			<tui-button shadow height="88rpx" shape="circle" :disabled="!userName" type="blue" @click="setUserData">确定</tui-button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userName: ''
		};
	},
	onLoad(options){
		if(options.username !='undefined'){
			this.userName = options.username
		}
		
	},
	methods: {
		/* 修改信息提交 */
		setUserData(){
			let data = {
				realname: this.userName
			}
			this.tui.request('mall-portal/sso/wx/update', 'POST', data, false, false, true,'mall').then((res) => {
				console.log(res)
				if(res.code == 200){
					this.tui.showToast('修改成功','none')
					uni.navigateBack({
						delta: -1
					})
				}else{
					this.tui.showToast(res.msg,'none')
				}
			})
		},
		inputuserName(e) {
			this.userName = e.detail.value;
		},
		clearInput() {
			console.log("clear")
			this.userName = '';
		}
	}
};
</script>

<style lang="scss">
.container {
	padding-top: 20rpx;
	.tui-cell-input {
		width: 100%;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		
		input {
			flex: 1;
			padding-left: $uni-spacing-row-base;
		}
	}
	.tui-btn-box {
		padding: 40rpx 30rpx 10rpx 30rpx;
		box-sizing: border-box;
		width:70%;
		margin:20rpx 15%;
		text-align: center;
	}
}
</style>
