<template>
	<view class="container dui-fontsize-28">
		<tui-tabs :tabs="tabs" :isFixed="scrollTop>=0" :currentTab="currentTab" selectedColor="#40bdd1" sliderBgColor="#40bdd1"
		 @change="change" itemWidth="33.33%"></tui-tabs>
	<!--评估列表-->
	<view :class="{'tui-order-list':scrollTop>=0}">
		<view class="tui-news-view">
		<block v-for="(item,index) in dataList" :key="index">
			<tui-list-cell :index="index" @click="goToDetail" :unlined="count==index">
				<view class="tui-news-flex">
					<view class="tui-news-tbox tui-flex-column tui-flex-between tui-h165 tui-pl-20">
						<view class="tui-news-title tui-pt20">{{item.title}}</view>
						<view class="tui-sub-box">
							<view class="tui-sub-source">{{item.source}}<text class="margin-left">{{item.time}}</text></view>
							<view class="tui-sub-cmt">
							</view>
						</view>
					</view>
					<view class="tui-news-picbox tui-w220 tui-h165 tui-flex-between">
						<image :src="minioUrl+item.img" mode="widthFix" class="item-image" ></image>
					</view>
				</view>
			</tui-list-cell>
			</block>
		</view>
	</view>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
				current: 1,
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: true,
				pullUpOn: true,
				scrollTop: 0,
				listStatus: '',
				tabs: [{
					name: "全部",
					status: ''
				}, {
					name: "系统资讯",
					status: 'xitong'
				}, {
					name: "肝病专科",
					status: 'ganbing'
				 }
				],
				dataList:[
					{
						title: "糖尿病风险评估表",
						source: "糖尿病专科",
						cmtsNum: 2019,
						isTop: true,
						time: "2021-04-19 10:00:30",
						imgNum: 1,
						img:'keshi1.png'
					}, {
						title: "抑郁自评量表",
						source: "精神科",
						cmtsNum: 3620,
						isTop: true,
						time: "2021-04-20 18:00:30",
						img:'keshi2.png'
					}
				]
			}
		},
		methods:{
			//获取数据列表
			getDataList() {
				this.loadding = true;
				let data = {
					listStatus: this.listStatus,
					pageNum: this.pageIndex,
					pageSize: this.pageSize
				}
				this.tui.request('orders/list', 'POST', data, false, false, true).then((res) => {
					console.log(res)
					if (res.meta.success && res.meta.code == 10000) {
						this.count = res.data.count
						var lists = res.data.list
						 for (let item of lists) {
							item.createTime = utils.formatDate(false, item.createTime * 1000);
						}
						this.dataList =this.dataList.concat(lists)
					}
					this.loadding = false;
				})
			},
			//切换数据状态
			change(e) {
				let index = e.index;
				if (index == this.currentTab) return;
				this.currentTab = index;
				this.pageIndex=1;
				this.listStatus = this.tabs[index].status;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				}).then(() => {
					this.pageIndex = 1;
					//this.dataList = [];
					//this.getDataList();
				})
			},
			/* 跳转到详情页面 */
			goToDetail(){
				uni.navigateTo({
					url:'./evaluationDetail'
				})
			}
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.loadding = true;
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count/this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了','none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		} ,
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	.item-image{
		border-radius: 10rpx;
	}
	.content-box{
		height: 160rpx;
	}
	.icon-image{
		width: 40rpx;
		height: 50rpx;
	}
	/*tabbar*/
	
	.tui-tabbar {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99999;
		background: #fff;
		height: 100rpx;
		left: 0;
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}	
	.tui-tabbar::before {
		content: '';
		width: 100%;
		border-top: 1rpx solid #d9d9d9;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}
	/*tabbar*/
	
	.tui-order-list {
		margin-top: 80rpx;
	}
	.tui-news-flex {
		width: 100%;
		display: flex;
	}
	.tui-flex-column {
		flex-direction: column !important;
	}
	
	.tui-flex-between {
		justify-content: space-between !important;
	}
	.tui-news-tbox {
		flex: 1;
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}
	
	.tui-news-picbox {
		display: flex;
		position: relative;
	}
	
	.tui-w220 {
		width: 220rpx;
	}
	
	.tui-h165 {
		height: 165rpx;
	}
	.tui-news-title {
		width: 100%;
		font-size: 34rpx;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		box-sizing: border-box;
	}
	.tui-sub-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #999;
		box-sizing: border-box;
		line-height: 24rpx;
	}
	.tui-sub-cmt {
		font-size: 24rpx;
		line-height: 24rpx;
		display: flex;
		align-items: center;
	}
</style>
