<template>
	<view>
		<form @submit="formSubmit">
			<view v-for="(subject,index) in subjectList" :key="index" class="dui-lineheight-2">
				<!-- 题目类型 -->
				<view class="cu-bar bg-white">
					<view class="action">
						<text class="cuIcon-title dui-text-cblue"></text>{{subject.title}}
					</view>
				</view>
				<view class="padding-left-sm">
					<!-- 单选题部分 -->
					<radio-group class="block" @change="RadioboxChange" v-if="subject.type===1||subject.type===2">
						<view class="flex justify-start bg-white padding-top-xs" v-for="(option,index) in subject.optionList" :key="index">
							<radio :value="option.id"></radio>
							<view class="title text-black margin-left-sm">{{option.id}}.{{option.content}}</view>
						</view>
					</radio-group>
					<!-- 多选题部分 -->
					<checkbox-group class="block" @change="CheckboxChange" v-else-if="subject.type===3">
						<view class="flex justify-start bg-white padding-top-xs" v-for="(option,index) in subject.optionList" :key="index">
							<checkbox :value="option.id"></checkbox>
							<view class="title text-black margin-left-sm">{{option.id}}.{{option.content}}</view>
						</view>
					</checkbox-group>
					<!-- 填空题部分 -->
					<!-- <view v-else-if="subject.type===4">
						<view class="cu-form-group">
							<view class="title  text-black">
								答：
							</view>
							<input placeholder="文本输入框" name="input" v-model="subject.userAnswer" @blur="textInput"></input>
						</view>
					</view> -->
					<!-- 问答题部分,多行文本输入框 -->
					<view v-else-if="subject.type===5">
						<view class="margin-lr-sm">
							<textarea class="padding-sm textarea" maxlength="-1" @blur="textInput" v-model="subject.userAnswer" placeholder="多行文本输入框"></textarea>
						</view>
					</view>
				</view>
			</view>
			<view class="tui-btn-box">
				<tui-button class="margin-top submit" formType="submit" shadow height="88rpx" shape="circle" :disabled="disabled" type="blue" @tap="submit()" >提交</tui-button>
			</view>
		</form>

	</view>
</template>
<script>
export default {
	data() {
		return {
			minioUrl:this.config.minioUrl,
			fabulous: 123,
			isFabulous: false,
			isCollection: false,
			subjectList: [
				{
					"title": "请问您今年年龄是多少？",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "20~24"
					}, {
						"id": "B",
						"content": "25~34"
					}, {
						"id": "C",
						"content": "35~39"
					}, {
						"id": "D",
						"content": "40~44"
					}, {
						"id": "E",
						"content": "45~49"
					}, {
						"id": "F",
						"content": "50~54"
					}, {
						"id": "G",
						"content": "55~59"
					},{
						"id": "H",
						"content": "60~64"
					},{
						"id": "I",
						"content": "65~74"
					}]
				},
				{
					"title": "请问您的体质指数是多少？体质指数是：体重（kg）/身高的平方（m）",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "<22.0"
					}, {
						"id": "B",
						"content": "22.0~23.9"
					}, {
						"id": "C",
						"content": "24.0~29.9"
					}, {
						"id": "D",
						"content": "30.0"
					}],
					"answer": "A",
					"userAnswer": "",
					"userFavor": false,
					"explain": "<22.0"
				},
				{
					"title": "请问您的腰围是多少？",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "男性<75.0,女性<70.0"
					}, {
						"id": "B",
						"content": "男性75.0~79.9,女性70.0~74.9"
					}, {
						"id": "C",
						"content": "男性80.0~84.9,女性75.0~79.9"
					}, {
						"id": "D",
						"content": "男性85.0~89.9,女性80.0~84.9"
					}, {
						"id": "E",
						"content": "男性90.0~94.9,女性85.0~89.9"
					}, {
						"id": "F",
						"content": "男性95.0，女性90.0"
					}],
				},
				{
					"title": "请问您血压中的收缩压(mmHg)是多少？",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "<110"
					}, {
						"id": "B",
						"content": "110~119"
					}, {
						"id": "C",
						"content": "120~129"
					}, {
						"id": "D",
						"content": "130~139"
					}, {
						"id": "E",
						"content": "140~149"
					}, {
						"id": "F",
						"content": "150~159"
					}, {
						"id": "F",
						"content": "≥160"
					}],
				},
				{
					"title": "请问你家人是否有糖尿病？",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "无"
					}, {
						"id": "B",
						"content": "有"
					}],
				},
				{
					"title": "请问您的性别是？",
					"type": 1,
					"optionList": [{
						"id": "A",
						"content": "男"
					},{
						"id": "B",
						"content": "女"
					}],
				} 
			],
			pageIndex: 1,
			loadding: true,
			pullUpOn: true
		}
	},
	methods: {
	},
	// 页面上拉触底事件的处理函数
	onReachBottom: function() {
		if (!this.pullUpOn) return;
		this.loadding = true
		if (this.pageIndex == 3) {
			this.loadding = false;
			this.pullUpOn = false
		} else {
			let arr = JSON.parse(JSON.stringify(this.cmtList));
			this.cmtList = this.cmtList.concat(arr);
			this.pageIndex = this.pageIndex + 1;
			this.loadding = false
		}
	}
}
</script>

<style>
textarea{
	width:100%;
	width:20rpx 30rpx;
	background: #fcfcfc;
}
.tui-btn-box {
	width: 70%;
	padding: 0 $uni-spacing-row-lg;
	box-sizing: border-box;
	margin:80rpx 15%;	
		}
</style>
