<template>
	<view class="container dui-fontsize-28">
		<block v-if="userInfo.realname && !loadding">
			<view class="dui-padding-lr-20 bg-white dui-lineheight-2">
				<text class="dui-color-waring">{{userInfo.realname}}</text>
				，下午好：您目前身体状况良好，日常控糖需要持续进行，以下是您的健康档案。
			</view>
			<tui-tabs :padding="20" :sliderWidth="140" :tabs="tabs" :isFixed="scrollTop>=0" :currentTab="currentTab"
				selectedColor="#40bdd1" sliderBgColor="#40bdd1" @change="change" itemWidth="25%"></tui-tabs>
			<!-- 基础状况 -->
			<view v-if="currentTab == 0">
				<!-- 疾病史 -->
				<view class="tui-item-info">
					<tui-list-cell :hover="false">
						<view class="flex justify-between">
							<view class="tui-item-title text-bold">
								疾病史
							</view>
							<tui-button margin="0 20rpx 0rpx 0" type="blue" width="100rpx" height="50rpx" :size="24"
								@click="detail">编辑</tui-button>
						</view>
					</tui-list-cell>
					<view class="tui-item-content bg-white">
						<view class="item margin-bottom-sm">
							<view class="flex justify-between">
								<view class="text-bold">2型糖尿病</view> <time class="text-gray">2020-09月至2021-04月</time>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
						<view class="item">
							<view class="flex justify-between">
								<view class="text-bold">肺结核</view> <time class="text-gray">2020-09月至2021-04月</time>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
					</view>
				</view>
				<!-- 身体概况 -->
				<view class="tui-item-info">
					<tui-list-cell :hover="false">
						<view class="flex justify-between">
							<view class="tui-item-title text-bold">
								身体概况
							</view>
							<tui-button margin="0 20rpx 0rpx 0" type="blue" width="100rpx" height="50rpx" :size="24"
								@click="detail">编辑</tui-button>
						</view>
					</tui-list-cell>
					<view class="tui-item-content bg-white">
						<view class="item margin-bottom-sm">
							<view class="flex justify-between">
								<view>身高：180CM</view>
								<view>体重：90kg</view>
							</view>
							<view class="flex justify-between">
								<view>吸烟史：从不</view>
								<view>是否饮酒：是</view>
							</view>
							<view class="flex justify-between">
								<view>日常运动：较少</view>
								<view>口味偏好：偏重</view>
							</view>
						</view>
					</view>
				</view>
				<!-- 过敏史 -->
				<view class="tui-item-info">
					<tui-list-cell :hover="false">
						<view class="flex justify-between">
							<view class="tui-item-title text-bold">
								过敏史
							</view>
							<tui-button margin="0 20rpx 0rpx 0" type="blue" width="100rpx" height="50rpx" :size="24"
								@click="detail">编辑</tui-button>
						</view>
					</tui-list-cell>
					<view class="tui-item-content bg-white">
						<view class="item margin-bottom-sm">
							<view class="flex justify-between">
								<view class="text-bold">鸡蛋过敏</view>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
						<view class="item">
							<view class="flex justify-between">
								<view class="text-bold">花粉过敏</view>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
					</view>
				</view>
				<!-- 手术史 -->
				<view class="tui-item-info">
					<tui-list-cell :hover="false">
						<view class="flex justify-between">
							<view class="tui-item-title text-bold">
								手术史
							</view>
							<tui-button margin="0 20rpx 0rpx 0" type="blue" width="100rpx" height="50rpx" :size="24"
								@click="detail">编辑</tui-button>
						</view>
					</tui-list-cell>
					<view class="tui-item-content bg-white">
						<view class="item margin-bottom-sm">
							<view class="flex justify-between">
								<view class="text-bold">阑尾切割</view> <time class="text-gray">2020-09月至2021-04月</time>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
						<view class="item">
							<view class="flex justify-between">
								<view class="text-bold">剖腹产</view> <time class="text-gray">2020-09月至2021-04月</time>
							</view>
							<view>治疗方式：口服药物、定期随检 </view>
							<view>治疗效果：目前稳定</view>
						</view>
					</view>
				</view>
			</view>
			<!-- 测量记录 -->
			<view v-if="currentTab == 1">
				<view class="margin-top-sm">
					<view class="text-bold text-xl bg-white text-center padding-top-xs">血糖</view>
					<canvas canvas-id="canvasLineA" id="canvasLineA" class="charts"></canvas>
				</view>
				<view class="margin-top-sm">
					<view class="text-bold text-xl bg-white text-center padding-top-xs">血压</view>
					<canvas canvas-id="canvasLineB" id="canvasLineB" class="charts"></canvas>
				</view>
			</view>
			<!-- 运动记录 -->
			<view v-if="currentTab == 2">
				<view class="margin-top-sm">
					<view class="text-bold text-xl bg-white text-center padding-top-xs">运动记录</view>
					<canvas canvas-id="canvasLineC" id="canvasLineC" class="charts"></canvas>
				</view>
			</view>
			<!-- 用药记录 -->
			<view v-if="currentTab == 3">
				<view class="tui-item-content bg-white margin-top-sm">
					<view class="item margin-bottom-sm">
						<view class="text-bold">阿司匹林</view>
						<view class="flex justify-between">
							<view>早餐前：每次1片</view> <time>2021-04-12</time>
						</view>
						<view class="flex justify-between">晚餐前：每次2片 <time>2021-04-12</time></view>
					</view>
					<view class="item margin-bottom-sm">
						<view class="text-bold">999感冒灵</view>
						<view class="flex justify-between">
							<view>早餐前：每次2片</view> <time>2021-04-13</time>
						</view>
						<view class="flex justify-between">午餐前：每次2片 <time>2021-04-13</time></view>
						<view class="flex justify-between">晚餐前：每次2片 <time>2021-04-13</time></view>
					</view>
				</view>
			</view>
		</block>

		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	import uCharts from '@/sdk/u-charts/u-charts.js';
	var _self;
	var canvaLineA = null;
	export default {
		data() {
			return {
				loadding: true,
				minioUrl: this.config.minioUrl, //静态图片地址
				image: 'yiliao.jpg',
				dataList: [],
				tabs: [{
					name: "基础状况",
					status: 'jichu'
				}, {
					name: "测量记录",
					status: 'celiang'
				}, {
					name: "运动记录",
					status: 'yundong'
				}, {
					name: "用药就诊",
					status: 'yongyao'
				}],
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				listStatus: '',
				cWidth: '',
				cHeight: '',
				pWidth: '',
				pHeight: '',
				pixelRatio: 1,
				time: ['2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15'],
				series: [{
					name: '血糖早餐前',
					data: [5, 6, 8, 5],
					color: '#40bdd1'
				}, {
					name: '血糖早餐后',
					data: [9, 10, 11, 8]
				}, {
					name: '血糖午餐前',
					data: [8, 7, 6, 4]
				}],
				series1: [{
					name: '收缩压',
					data: [90, 100, 110, 125],
					color: '#40bdd1'
				}, {
					name: '舒张压',
					data: [80, 70, 60, 75]
				}],
				series2: [{
					name: '步数',
					data: [10001, 2000, 5000, 8000],
					color: '#40bdd1'
				}],
				userInfo: {}
			}
		},
		onLoad() {
			_self = this
			this.cWidth = uni.upx2px(750);
			this.cHeight = uni.upx2px(450);
			this.pWidth = uni.upx2px(460);
			this.pHeight = uni.upx2px(450);
			this.getUserInfo()
		},
		methods: {
			/* 获取用户信息 */
			getUserInfo() {
				this.loadding = true
				this.tui.userInfo().then((res) => {
					this.loadding = false
					this.userInfo = res
				})
			},
			getDataList() {
				if (this.currentTab > 0) {
					this.image = 'yisheng.png'
				} else {
					this.image = 'yiliao.jpg'
				}
			},
			/* 切换tabs */
			change(e) {
				let index = e.index;
				if (index == this.currentTab) return;
				this.currentTab = index;
				if (index == 1) {
					this.showLineA("canvasLineA", this.time, this.series)
					this.showLineA("canvasLineB", this.time, this.series1)
				} else if (index == 2) {
					this.showLineA("canvasLineC", this.time, this.series2)
				}
				this.pageIndex = 1;
				this.listStatus = this.tabs[index].status;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				}).then(() => {
					/* this.pageIndex = 1; */
					/* this.dataList = [];
					this.getDataList(); */
				})
			},
			/* 折线图封装 */
			showLineA(canvasId, time, series) {
				canvaLineA = new uCharts({
					$this: _self,
					canvasId: canvasId,
					type: 'line',
					fontSize: 11,
					legend: {
						show: true
					},
					dataLabel: true,
					dataPointShape: true,
					background: '#FFFFFF',
					pixelRatio: _self.pixelRatio,
					categories: time,
					series: series,
					animation: true,
					xAxis: {
						type: 'grid',
						gridColor: '#CCCCCC',
						gridType: 'dash',
						dashLength: 10
					},
					yAxis: {
						disabled: true,
						title: '检测得分',
						gridType: 'dash',
						gridColor: '#CCCCCC',
						dashLength: 10,
						splitNumber: 5,
						min: 0,
						max: 10,
						format: (val) => {
							return val.toFixed(0)
						}
					},
					width: _self.cWidth * _self.pixelRatio,
					height: _self.cHeight * _self.pixelRatio,
					extra: {
						line: {
							type: 'curve'
						}
					}
				});

			},
		}
	}
</script>

<style>
	.content-image {
		width: 100%;
	}

	.tui-item-info {
		margin-top: 20rpx;
	}

	.tui-item-title {
		position: relative;
		line-height: 2;
		padding-left: 12rpx;
		box-sizing: border-box;
	}

	.tui-item-title::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		border-left: 4rpx solid #40bdd1;
		height: 100%;
	}

	.tui-item-content {
		width: 100%;
		padding: 24rpx 30rpx;
		box-sizing: border-box;
		background: #fff;
		line-height: 2;
	}

	.charts {
		width: 750rpx;
		height: 400rpx;
		background-color: #FFFFFF;
		padding-top: 50rpx;
	}
</style>
