<template>
	<view>
		<view class="tui-mybg-box" :style="'background-image:url(' + minioUrl + 'icon_shouye/background_bhd.png)'">
			<!-- <image src="/static/images/mall/my/img_bg_3x.png" class="tui-my-bg" mode="aspectFill"></image> -->
			<view class="tui-header-center" v-if="userData == ''"  @tap="href(0)">
				<image src="" class="tui-avatar"></image>
				<view class="tui-info">
					<view class="tui-nickname">请登录</view>
				</view>
			</view>
			<view  class="tui-header-center" v-else>
				<image :src="userData.icon" class="tui-avatar" @tap="href(1)"></image>
				<view class="tui-info">
					<view class="tui-nickname">{{userData.realname !='undefined' ? userData.realname:'请完善姓名'}} </view>
					<button class="label cu-btn text-white margin-top" style="background: #86CCE9;">{{userData.memberLevelName}}</button>
				</view>
				<view class="tui-set-box">
					<view class="tui-icon-box tui-icon-setup" @tap="href(1)">
						<tui-icon name="setup" color="#fff" :size="26"></tui-icon>
					</view>
				</view>
			</view>
			<view class="tui-header-btm" >
				<view class="tui-btm-item" @tap="href(3)">
					<view class="tui-btm-num">{{unbindNum}}</view>
					<view class="tui-btm-text">待绑医生</view>
				</view>
				<view class="tui-btm-item" @tap="href(4)">
					<view class="tui-btm-num">{{footCount}}</view>
					<view class="tui-btm-text">我的收藏</view>
				</view>
				<view class="tui-btm-item" @tap="href(5)">
					<view class="tui-btm-num">{{userData.score ? userData.score:'120'}}</view>
					<view class="tui-btm-text">积分</view>
				</view>
			</view>
		</view>
		<view class="tui-content-box">
			<view class="tui-box dui-margin-b-10 padding-bottom-sm">
				<tui-list-cell  padding="0" :lineLeft="false">
					<view class="tui-cell-header">
						<view class="tui-cell-title">咨询记录</view>
					</view>
				</tui-list-cell>
				<view class="flex justify-between margin-top-xs">
					<view class="tui-item" @tap="goConsult('pic',0)">
						<view class="tui-icon-box">
							<image :src="minioUrl+'tuwen.png'" class="tui-icon"></image>
						</view>
						<view class="tui-icon-text">图文</view>
					</view>
					<view class="tui-item" @tap="goConsult('voice',1)">
						<view class="tui-icon-box">
							<image :src="minioUrl+'yuyin.png'" class="tui-icon"></image>
						</view>
						<view class="tui-icon-text">语音</view>
					</view>
					<view class="tui-item" @tap="goConsult('video',2)">
						<view class="tui-icon-box">
							<image :src="minioUrl+'shipin.png'" class="tui-icon"></image>
						</view>
						<view class="tui-icon-text">视频</view>
					</view>
					<view class="tui-item" @tap="goConsult('yuyue',3)">
						<view class="tui-icon-box">
							<image :src="minioUrl+'yuyue.png'" class="tui-icon"></image>
						</view>
						<view class="tui-icon-text">预约</view>
					</view>
				</view>
			</view>
			<view class="tui-box">
				<tui-list-cell padding="0" :lineLeft="false">
					<view class="tui-cell-header">
						<view class="tui-cell-title">健康服务</view>
					</view>
				</tui-list-cell>
				<view class="flex justify-between tui-flex-wrap">
					<view class="tui-tool-item" @tap="href(6)">
						<view class="serviceImg"><image :src="minioUrl+'docter.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">我的医生</view>
					</view>
					<view class="tui-tool-item"  @tap="href(7)">
						<view class="serviceImg"><image :src="minioUrl+'dangan.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text" size="32">健康档案</view>
					</view>
					<view class="tui-tool-item"  @tap="href(8)">
						<view class="serviceImg"><image :src="minioUrl+'zhenliao.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">诊疗记录</view>
					</view>
					<view class="tui-tool-item"  @tap="href(9)">
						<view class="serviceImg"><image :src="minioUrl+'pingce.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">健康评测</view>
					</view>
					<view class="tui-tool-item"  @tap="href(10)">
						<view class="serviceImg"><image :src="minioUrl+'order.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">订单</view>
					</view>
					<view class="tui-tool-item"  @tap="href(11)">
						<view class="serviceImg"><image :src="minioUrl+'fuwubao.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">服务包</view>
					</view>
					<view class="tui-tool-item" @tap="href(12)">
						<view class="serviceImg"><image :src="minioUrl+'shebei.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">我的设备</view>
					</view>
					<view class="tui-tool-item"  @tap='makeCall'>
						<view class="serviceImg"><image :src="minioUrl+'kefu.png'" mode="widthFix"></image></view>
						<view class="tui-tool-text">客服</view>
					</view>
					
				</view>
			</view>
			<!--加载loadding-->
			<tui-loadmore v-if="loadding" :index="3" type="red"></tui-loadmore>
			<!--客服弹窗-->
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				minioUrl:this.config.minioUrl,//静态图片地址
				mallPhone:this.tui.mallPhone,//平台客服电话
				popupShow: false,//客服弹框
				unbindNum:'0',
				userData:{
					'wxphoto':'http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eo9ekDbBSCg4bibQHE1EdafEnIXJh3cdmvY9HncuRF5Ic9eol6DWp8IKuLjegEbvoGzBOLaurYfWbg/132',
					'wxnickname':'旖旎',
					'phone':'18977845637',
					'label':'普通病患'
				},//用户信息
				footCount:5,//足迹数目
				collectCount:2//收藏数目
			}
		},
		onLoad: function(options) {
			let obj = {};
			// #ifdef MP-WEIXIN
			obj = wx.getMenuButtonBoundingClientRect();
			// #endif
			// #ifdef MP-BAIDU
			obj = swan.getMenuButtonBoundingClientRect();
			// #endif
			// #ifdef MP-ALIPAY
			my.hideAddToDesktopMenu();
			// #endif

			uni.getSystemInfo({
				success: (res) => {
					this.width = obj.left || res.windowWidth;
					this.height = obj.top ? (obj.top + obj.height + 8) : (res.statusBarHeight + 44);
					this.top = obj.top ? (obj.top + (obj.height - 32) / 2) : (res.statusBarHeight + 6);
					this.scrollH = res.windowWidth * 0.6
				}
			})
		},

		onShow() {
			this.userInfo()
			this.unbind()
			//隐藏左上角小房子
			//uni.hideHomeButton()
		},
		methods: {
			/* 获取用户信息 */
			userInfo(){
			  this.loadding = true;
			  this.tui.userInfo().then((res) => {
				  this.loadding = false;
				 this.userData = res
				 uni.setStorageSync("userInfo",res)
			  })
			},
			/* 未绑定医生数量 */
			unbind(){
				let data={}
				this.tui.request('mall-portal/sso/wx/doctors/unbind/count', 'GET', data, false, false, true,'mall').then((res) => {
					console.log(res)
					if(res.code == 200 ){
						this.unbindNum = res.data
					}else{
						this.tui.showToast(res.msg,'none')
					}
				})
			},
			href(page) {
				let url = '';
				switch (page) {
					case 0:
						url = "../login/login"
						break;
					case 1:
						url = "./myInfo"//个人信息
						break;
					case 2:
						url = ""//设置
						break;
					case 3:
						url = "../service/doctorList?status=0"//待绑医生
						break;
					case 4:
						url = ""//我的收藏
						break;
					case 5:
						url = ""//积分
						break;
					case 6:
						url = "../service/doctorList?status=1"//我的医生
						break;
					case 7:
						url = "../my/healthRecords"//健康档案
						break;
					case 8:
						url = "../my/diagnosisList"//诊疗记录
						break;
					case 9:
						url = "../my/evaluationList"//健康评测
						break;
					case 10:
						url = "../my/orderList?type=my"//订单
						break;
					case 11:
						url = "../service/servicePackage"//服务包
						break;
					case 11:
						url = ""//我的设备
						break;
					default:
						break;
				}
				if (url) {
					if(this.userData !=''){
						uni.navigateTo({
							url: url
						})
					}else{
						this.showIsLogin()							
					}
					
				} else {
					this.tui.toast("正在开发中，敬请期待~")
				}
			},
			/* 跳转咨询列表 */
			goConsult(type,index){
				console.log(type)
				if(type === 'voice'){
					this.goVoice()
					return false
				}
				if(type === 'video'){
					
				}
				if(this.userData !=''){
					uni.navigateTo({
						url:'../service/consultList?type='+type+'&index='+index
					})
				}else{
					this.showIsLogin()							
				}
			},
			// 语音接入
			goVoice (){
				const that = this
				uni.showModal({
					title: '提示',
					content: '尚无任何预约记录，请问您是否现在进行预约？',
					cancelText: '否',
					cancelColor: '#FF0000',
					confirmText: '是',
					confirmColor: '#4177ff',
					success: function (res) {
						if (res.confirm) {
							uni.navigateTo({
								url: '../../packageSubA/reservation/main'
							})
						} else if (res.cancel) {
							
						}
					}
				})
			},
			/* 电话客服 */
			makeCall(){
				uni.makePhoneCall({
				  phoneNumber: this.config.kefu,
				  success: function (res) {
				  },
				  fail: function (res) {},
				  complete: function (res) {}
				})
			},
			/* 是否登录 */
			showIsLogin(){
				uni.showModal({
					title: '请先登录',
					content: '登陆后才可访问',
					cancelText:"暂不登录",
					confirmText:"立即登录",
					success: function (res) {
						if (res.confirm) {
						  uni.navigateTo({
							url: '../../user/login/login/login'
						  })
						} else if (res.cancel) {
						   
						}
					}
				});
			},
		}
	}
</script>

<style>
	.tui-header-box {
		width: 100%;
		padding: 0 30rpx 0 20rpx;
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 32px;
		transform: translateZ(0);
		z-index: 9999;
	}

	/* #ifndef MP */
	.tui-header-icon {
		min-width: 120rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* #endif */
	/* #ifdef MP */
	.tui-set-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* #endif */
	.tui-icon-box {
		position: relative;
	}

	.tui-icon-setup {
		margin-left: 8rpx;
	}
   .serviceImg{
	   width:120rpx;
	   height: 120rpx;
   }
	.tui-mybg-box {
		width: 100%;
		height: 550rpx;
		position: relative;
		padding-top: 180rpx;
		background-size: cover;
		background-position: bottom;
	}

	.tui-my-bg {
		width: 100%;
		height: 420rpx;
		display: block;
	}

	.tui-header-center {
		width: 100%;
		padding: 0 40rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	.tui-avatar {
		flex-shrink: 0;
		width: 128rpx;
		height: 128rpx;
		display: block;
		border-radius: 50%;
	}

	.tui-info {
		width: 60%;
		padding-left: 30rpx;

	}

	.tui-nickname {
		font-size: 30rpx;
		font-weight: 500;
		color: #fff;
		display: flex;
		align-items: center;
	}
   .label{
		border-radius: 30rpx;
	}
	.tui-header-btm {
		width: 100%;
		padding: 0 40rpx;
		margin-top: 40rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
	}

	.tui-btm-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.tui-btm-num {
		font-size: 32rpx;
		font-weight: 600;
		position: relative;
	}

	.tui-btm-text {
		font-size: 24rpx;
		opacity: 0.85;
		padding-top: 4rpx;
	}

	.tui-content-box {
		width: 100%;
		padding: 0 40rpx;
		box-sizing: border-box;
		position: relative;
		top: -100rpx;
		z-index: 10;
	}

	.tui-box {
		width: 100%;
		background: #fff;
		box-shadow: 0 3rpx 20rpx rgba(183, 183, 183, 0.1);
		border-radius: 10rpx;
		overflow: hidden;
	}
	.tui-cell-header {
		width: 100%;
		height: 74rpx;
		padding: 0 26rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.tui-cell-title {
		font-size: 30rpx;
		line-height: 30rpx;
		font-weight: 600;
		color: #333;
	}

	.tui-cell-sub {
		font-size: 26rpx;
		font-weight: 400;
		color: #999;
		padding-right: 28rpx;
	}
	.tui-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tui-icon-text,
	.tui-tool-text {
		font-size: 30rpx;
		font-weight: 400;
		color: #666;
		padding-top: 4rpx;
	}
	.tui-icon {
		width: 120rpx;
		height: 120rpx;
		display: block;
	}
	.tui-tool-box {
		margin: 20rpx auto;
	}

	.tui-flex-wrap {
		flex-wrap: wrap;
		height: auto;
		padding-bottom: 30rpx;
	}

	.tui-tool-item {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top: 20rpx;
		margin-bottom:0rpx;
	}

	/* 客服弹框 */
	.tui-share {
		background: #e8e8e8;
		position: relative;
		padding-bottom: env(safe-area-inset-bottom);
	}
	
	.tui-share-title {
		font-size: 32rpx;
		color: #333;
		text-align: center;
		line-height: 2;
		padding: 20rpx 0 20rpx 0;
	}
	
	.tui-share-top,
	.tui-share-bottom {
		padding: 0 20rpx 20rpx;
	}
	
	.tui-share-item {
		width: 126rpx;
		display: inline-block;
		margin-right: 24rpx;
		text-align: center;
	}
	
	.tui-item-last {
		margin: 0;
	}
	
	.tui-empty {
		display: inline-block;
		width: 30rpx;
		visibility: hidden;
	}
	
	.tui-share-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fafafa;
		height: 126rpx;
		width: 126rpx;
		border-radius: 32rpx;
	}
	
	.tui-share-text {
		font-size: 24rpx;
		color: #7E7E7E;
		line-height: 24rpx;
		padding: 20rpx 0;
		white-space: nowrap;
	}
	
	.tui-btn-cancle {
		width: 30rpx;
		height: 30rpx;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 36rpx;
		color: #3e3e3e;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: env(safe-area-inset-bottom);
		margin:20rpx;
	}
	
	.tui-hover {
		background: rgba(0, 0, 0, 0.2)
	}
</style>
