<template>
	<view class="tui-userinfo-box">
		<tui-list-cell padding="0">
			<view class="tui-list-cell" style="padding-right: 40rpx;">
				<view>头像</view>
				<view class="dui-flex-column-end">
					<tui-upload :value="imgHeaderData" :limit="1" :serverUrl="serverUrl" @complete="headerResult" @remove="remove"></tui-upload>
					<view class="dui-color-f5 dui-fontsize-24">请上传宽高比为1:1的图片</view>
				</view>
				
			</view>
		</tui-list-cell>
		<tui-list-cell padding="0" :arrow="true" @click="goEdit('editName',userData.realname)">
			<view class="tui-list-cell">
				<view>姓名</view>
				<view class="tui-content">{{userData.realname}}</view>
			</view>
		</tui-list-cell>
		<tui-list-cell padding="0" :arrow="true">
			<view class="tui-list-cell">
				<view>性别</view>
				<picker class="dui-flex1 dui-text-end" @change="bindPickerChange" :value="index" :range="sexArray">
					<view class="uni-input tui-content">{{sexArray[index]}}</view>
				</picker>
			</view>
		</tui-list-cell>
		<tui-list-cell padding="0" :arrow="true" @click="goEdit('editPhone',userData.phone)">
			<view class="tui-list-cell">
				<view>手机号</view>
				<view class="tui-content">{{userData.phone}}</view>
			</view>
		</tui-list-cell>
		<tui-list-cell padding="0" :arrow="true" unlined @click="show">
			<view class="tui-list-cell">
				<view>出生日期</view>
				<view class="tui-content">{{birthday}}</view>
			</view>
		</tui-list-cell>
		<tui-datetime ref="dateTime" :type="type" :startYear="startYear" :endYear="endYear" :cancelColor="cancelColor" :color="color"
		 :setDateTime="setDateTime" :unitTop="unitTop" @confirm="change">
		</tui-datetime>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>
<script>
	export default {
		data() {
			return {
				type: 3,
				startYear: 1900,
				endYear: 2030,
				cancelColor: '#888',
				color: 'green',
				setDateTime: '',
				birthday: '2010-10',
				unitTop: false,
				radius: false,
				sexArray: ['未知', '男','女'],
				index: 0,//性别下标
				sexShow: false,
				imgHeaderData:[],//头像
				serverUrl: this.config.apiMallUrl+"mall-admin/minio/upload",//图片上传地址
				userData: {}
			}
		},
		onLoad(){},
		onShow() {
			this.userInfo()
		},
		methods: {
			/* 获取用户信息 */
			userInfo(){
				this.loadding = true
			  this.tui.userInfo().then((res) => {
				this.loadding = false
				let userInfo = res
				let date = userInfo.birthday
				this.userData = userInfo
				this.index = userInfo.gender
				this.imgHeaderData = userInfo.icon.split(",")
				if(date){
					this.birthday = date.substring(0,10);
				}
				
			  })
			},
			/* 修改生日,性别 */
			setUserData(type){
				let data = {}
				if(type == 'bir'){
					data = {
						birthday: this.birthday
					}
				}else if(type == 'sex'){
					data = {
						gender: this.index
					}
				}else{
					data = {
						icon: this.imgHeaderData[0]
					}
				}
				this.tui.request('mall-portal/sso/wx/update', 'POST', data, false, false, true,'mall').then((res) => {
					if(res.code == 200){
						this.tui.showToast('修改成功','none')
					}else{
						this.tui.showToast(res.msg,'none')
					}
				})
			},
			/* 修改出生日期 */
			change: function(e) {
				console.log(e);
				this.birthday = e.result;
				this.setUserData('bir')
			},
			/* 修改性别 */
			bindPickerChange: function(e) {
				this.index = e.target.value
				this.setUserData('sex')
			},
			/* 头像上传图片并修改 */
			headerResult: function(e) {
				this.imgHeaderData = e.imgArr;
				this.setUserData('avar')
			},
			//移除图片
			remove: function(e) {
				let index = e.index
			},
			/* 跳转到修改姓名页面 */
			goEdit(url,content){
				this.tui.href("./"+url+"?username="+content)
			},
			/* 显示日期控件*/
			show() {
				this.cancelColor = '#888';
				this.color = '#5677fc';
				this.setDateTime = '';
				this.endYear = (new Date()).getFullYear();
				this.unitTop = false;
				this.radius = false;
				this.type = 2;
				this.radius = true;
				this.$refs.dateTime.show();
			},
			
			
		}
	}
</script>

<style>
	.tui-userinfo-box {
		margin: 20rpx 0;
		color: #333;
	}

	.tui-list-cell {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24rpx 60rpx 24rpx 30rpx;
		box-sizing: border-box;
		font-size: 30rpx;
	}

	.tui-pr30 {
		padding-right: 30rpx;
	}
	.tui-content {
		font-size: 26rpx;
		color: #666;
	}
</style>