<template>
	<view class="container dui-fontsize-28">
		<view v-for="(item, index) in dataList" :key="index" v-if="dataList.length >0" class="bg-white dui-padding-20 dui-margin-b-20" @click="goToDetail(item.id)">
			<view class="dui-flex-between dui-padding-tb-10 dui-border-bottom">
				<view class="dui-flex">
					<image class="icon-image" :src="minioUrl+'docter.png'" mode="widthFix"></image>
					<view class="dui-margin-l-10">{{item.doctorVo.dpmUmsDoctor.realName}}-{{item.doctorVo.deptUpName}}</view>
				</view>
				<view>{{item.status==0?'待付款':'已完成'}}</view>
			</view>
			<view class="dui-flex dui-padding-tb-10 dui-border-bottom">
				<image class="item-image" :src="item.doctorVo.avatar?item.doctorVo.avatar:minioUrl + 'drshan.png'"></image>
				<view class="dui-flex-column-between dui-flex1 dui-margin-l-20 content-box">
					<view>
						<view>{{item.orderItemList[0].productName}}</view>
						<view class="dui-color-f4 dui-text-omit-2">{{item.content}}</view>
					</view>
					<view class="flex justify-end">
						<view>金额：<text class="dui-color-f5">￥{{item.orderItemList[0].realAmount}}</text></view>
					</view>
				</view>
			</view>
			<view class="dui-flex-between dui-padding-tb-10">
				<view>
					下单时间：
				</view>
				<view>{{item.createTime}}</view>
			</view>
		</view>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :width="256" :fixed="false" style="margin-top: 50rpx;" :imgUrl="minioUrl+'img_nodata.png'">暂无数据</tui-no-data>
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
				current: 1,
				tabs: [{
					name: "图文",
					status: 'pic'
				}, {
					name: "语音",
					status: 'voice'
				}, {
					name: "视频",
					status: 'video'
				 },{
					name: "预约",
					status: 'yuyue'
				}
				],
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: true,
				pullUpOn: true,
				scrollTop: 0,
				status:3,
				dataList:[],
				type:'',//页面来源
			}
		},
		onLoad(options) {
			this.type = options.type
			if(options.type !='my'){
				this.getDataListToPay()
			}
		},
		onShow() {
			if(this.type !='pay'){
				this.dataList = []
				this.getDataList()	
			}		
		},
		methods:{
			//获取订单列表
			getDataList() {
				let that = this
				this.loadding = true;
				let data = {
					status: this.status,
					pageNum: this.pageIndex,
					pageSize: this.pageSize
				}
				this.tui.request('mall-portal/order/getList', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						this.count = res.data.total	
						if(res.data.total > 0){
							var lists = res.data.list
							this.dataList =this.dataList.concat(lists)
						}	
					}else{
						this.getDataList()
					}
					this.loadding = false;
				})
			},	
			//获取订单列表
			getDataListToPay() {
				let that = this
				this.loadding = true;
				let data = {
					status: this.status,
					pageNum: this.pageIndex,
					pageSize: this.pageSize
				}
				this.tui.request('mall-portal/order/getList', 'GET', data, false, false, true, 'mall').then((res) => {
					this.getDataList()
				})
			},
			/* 跳转到订单详情 */
			goToDetail(id){
				uni.navigateTo({
					url:'../my/orderDetail?orderId=' + id
				})
			}
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.loadding = true;
			this.getDataList()
			this.dataList = []
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count/this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了','none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		} ,
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	.item-image{
		width: 200rpx;
		height: 200rpx;
	}
	.content-box{
		height: 160rpx;
	}
	.icon-image{
		width: 40rpx;
		height: 50rpx;
	}
</style>
