<template>
	<view class="container dui-fontsize-28">
		<block v-if="JSON.stringify(dataList) != '{}'">
			<view class="dui-padding-20 bg-white">
				<view class="dui-flex-between dui-padding-tb-10 dui-border-bottom">
					<view class="dui-flex">
						<image class="icon-image" :src="minioUrl+'docter.png'" mode="widthFix"></image>
						<view class="dui-margin-l-10">{{dataList.doctorVo.dpmUmsDoctor.realName}}-{{dataList.doctorVo.deptUpName}}</view>
					</view>
					<view>{{dataList.status==0?'待付款':'已完成'}}</view>
				</view>
				<view class="dui-flex dui-padding-tb-10">
					<image class="item-image" :src="dataList.doctorVo.avatar?dataList.doctorVo.avatar:minioUrl + 'yisheng.png'"></image>
					<view class="dui-flex-column-between dui-flex1 dui-margin-l-20 content-box">
						<view>
							<view>{{dataList.orderItemList[0].productName}}</view>
							<view class="dui-color-f4 dui-text-omit-2">{{dataList.goodsData.content}}</view>
						</view>
						<view class="dui-flex-just-end">
							<view>金额：<text class="dui-color-f5">￥{{dataList.orderItemList[0].realAmount}}</text></view>
						</view>
					</view>
				</view>
			</view>
			<view class="dui-padding-20 dui-lineheight-2 bg-white margin-top-sm">
				<view>订单编号：{{dataList.orderSn}}</view>
				<view>下单时间：{{dataList.createTime}}</view>
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				loadding: true,
				minioUrl:this.config.minioUrl,//静态图片地址
				dataList:{},
				orderId:''
			}
		},
		onLoad(options) {
			this.orderId = options.orderId
			this.getData()
		},
		methods:{
			//获取医生商品详情
			getData() {
				this.loadding = true;
				let data = {
					id: this.productId
				}
				this.tui.request('mall-portal/order/getDetail/' + this.orderId, 'GET', null, false, false, true,
					'mall').then((res) => {
					if (res.code == 200) {
						this.dataList = res.data
					}
					this.loadding = false;
				})
			},
		}
	}
</script>

<style>
	.item-image{
		width: 200rpx;
		height: 200rpx;
	}
	.content-box{
		height: 160rpx;
	}
	.flex6{
		flex: 6;
	}
	.flex4{
		flex: 4;
	}
	.title{
		color: #DDAB4B;
	}
	.icon-image{
		width: 40rpx;
		height: 50rpx;
	}
	.tui-title {
		position: relative;
		font-size: 28rpx;
		line-height: 28rpx;
		padding-left: 12rpx;
		box-sizing: border-box;
	}
</style>
