<template>
	<view class="container dui-lineheight-2">
		<block v-if="userInfo.realname && !loadding">
			<view class="dui-padding-20 bg-white">
				<view class="flex justify-between">
					<view class="dui-color-waring text-bold text-xl">
						{{userInfo.realname}}
					</view>
					<tui-button type="blue" width="140rpx" height="50rpx" :size="24" @click="navigator">健康档案
					</tui-button>
				</view>
				<view>
					下午好：您目前
					<text class="dui-color-waring">血糖偏高</text>
					，
					<text class="dui-color-waring">血压正常</text>，请按照医主提醒，进行自我管理，争取早日康复，加油哦！
				</view>
			</view>
			<view class="bg-white dui-margin-t-10 padding-bottom">
				<tui-list-cell :hover="false" @click="add">
					<view class="flex justify-between" style="height:40rpx;line-height: 40rpx;">
						<view class="tui-item-title text-bold">
							测量提醒
						</view>
						<view><text class="cuIcon-roundadd dui-text-cblue text-bold" style="font-size:40rpx;"></text>
						</view>
					</view>
				</tui-list-cell>
				<view class="margin-top-sm padding-lr-sm">据上次测量<text class="dui-color-waring">血糖</text>已经有<text
						class="dui-color-waring">12</text>天，超期<text class="dui-color-waring">5</text>天，请及时自测并记录！</view>
				<view class="dui-margin-t-20 dui-flex-between dui-lineheight-1-3 padding-lr-sm">
					<view
						class="bg-xuetang dui-border-redius10 dui-flex-center dui-flex-column dui-flex1 dui-padding-tb-30"
						@click="goToSectionDetail">
						<view class="dui-flex-center dui-margin-b-10">
							<text class="iconfont icon-shouye1 text-red"></text>
							<view class="dui-margin-l-20">血糖</view>
						</view>
						<view class="dui-margin-b-10">6.0 mmol/l</view>
						<view>3-24 10:05</view>
					</view>
					<view
						class="bg-xueya dui-border-redius10 dui-flex-center dui-flex-column dui-flex1 dui-padding-tb-30 dui-margin-lf-30">
						<view class="dui-flex-center  dui-margin-b-10">
							<text class="iconfont icon-xieya1 text-orange text-xxl"></text>
							<view class="dui-margin-l-20">血压</view>
						</view>
						<view class="dui-margin-b-10">80/120 mmHg</view>
						<view>3-24 10:10</view>
					</view>
					<view
						class="bg-bmi dui-border-redius10 dui-flex-center dui-flex-column dui-flex1 dui-padding-tb-30">
						<view class="dui-flex-center dui-margin-b-10">
							<text class="iconfont icon-BMIzice dui-text-cblue"></text>
							<view class="dui-margin-l-20">BMI</view>
						</view>
						<view class="dui-margin-b-10">21.5</view>
						<view>3-24 10:20</view>
					</view>
				</view>
			</view>
			<view class="dui-margin-t-10 bg-white padding-bottom">
				<tui-list-cell :hover="false">
					<view class="flex justify-between" style="height:40rpx;line-height: 40rpx;">
						<view class="tui-item-title text-bold">
							运动提醒
						</view>
					</view>
				</tui-list-cell>
				<view class="margin-top-sm padding-lr-sm">今日运动量距离目标还剩<text class="dui-color-f1">4188</text>步，加油哦！</view>
				<view class="padding-lr-sm dui-margin-t-20 dui-flex-between">
					<tui-circular-progress progressColor="#dcfcff" gradualColor="#0078ff" :fontShow="false"
						defaultColor="#dcfcff" :sAngle="Math.PI / 1" :lineWidth="8" :diam="120" :percentage="58">
						<view class="centerText">
							<view><text class="dui-fontsize-36">5812</text>/10000</view>
						</view>
					</tui-circular-progress>
					<view class="dui-flex-column">
						<view class="dui-margin-b-10">今日目标10000步</view>
						<view class="dui-margin-b-10">已完成5812步</view>
						<view>距离<text class="dui-color-green">4.02</text>公里</view>
					</view>
				</view>
			</view>
			<view class="dui-margin-t-10 bg-white padding-bottom">
				<tui-list-cell :hover="false" @click="add">
					<view class="flex justify-between" style="height:40rpx;line-height: 40rpx;">
						<view class="tui-item-title text-bold">
							服药提醒
						</view>
						<view><text class="cuIcon-roundadd dui-text-cblue text-bold" style="font-size:40rpx;"></text>
						</view>
					</view>
				</tui-list-cell>
				<view class="padding-lr-sm margin-top-sm">今日需服降压药<text
						class="dui-color-f5">阿司匹林1次</text>，早餐后。今日需服降糖药<text class="dui-color-f5">拜新同2次</text>，午餐晚餐后。
				</view>
				<view class="dui-flex-start padding-lr-sm">
					<view class="text-bold">就诊提醒：</view>
					<view class="dui-flex1">距离下一次医院复查就诊还剩<text class="dui-color-f5">3</text>天</view>
				</view>
			</view>
			<view class="dui-margin-t-10 bg-white padding-bottom">
				<tui-list-cell :hover="false" @click="add">
					<view class="flex justify-between" style="height:40rpx;line-height: 40rpx;">
						<view class="tui-item-title text-bold">
							诊疗记录
						</view>
						<view><text class="cuIcon-roundadd dui-text-cblue text-bold" style="font-size:40rpx;"></text>
						</view>
					</view>
				</tui-list-cell>
				<view class="padding-lr-sm margin-top-sm">最近一次向上就诊时间未2021年3月20日</view>
				<view class="dui-flex-start padding-lr-sm">
					<view class="text-bold">结论医嘱：</view>
					<view class="dui-flex1 dui-text-omit-3">
						最好以清淡的为主，糖尿病人应选少油少盐的清淡食品，菜肴烹调多用蒸、煮、凉拌、涮、炖、卤等方式。烹调宜用植物油，尽量减少赴宴。在赴宴时也要尽量按照平时在家吃饭时的量和食物间的搭配来选择饭菜。
					</view>
				</view>
			</view>
		</block>
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				loadding: true,
				maxBlue: '#0078ff',
				minBlue: '#dcfcff',
				userInfo: {}
			}
		},
		onLoad() {
			this.getUserInfo()
		},
		methods: {
			navigator() {
				uni.navigateTo({
					url: './healthRecords'
				})
			},
			/* 获取用户信息 */
			getUserInfo() {
				this.loadding = true
				this.tui.userInfo().then((res) => {
					this.loadding = false
					this.userInfo = res
				})
			},
		}
	}
</script>

<style>
	.centerText {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.bg-xuetang {
		background: #f5feff;
	}

	.bg-xueya {
		background: #f9fff3;
	}

	.bg-bmi {
		background: #ecf2ff;
	}

	.tui-item-title {
		position: relative;
		padding-left: 12rpx;
		box-sizing: border-box;
	}

	.tui-item-title::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		border-left: 4rpx solid #40bdd1;
		height: 100%;
	}
</style>
