<template>
	<view class="container">
		<block v-if="JSON.stringify(dataDetail) != '{}'">
			<view class="tui-news-title">{{dataDetail.articleTitle}}</view>
			<view class="tui-sub-info">
				<view class="tui-sub-left">
					<text class="tui-author">{{getDictName(dataDetail.articleType)}}</text>
					<text>{{dataDetail.createTime}}</text>
				</view>
				<view class="tui-sub-right">阅读 {{dataDetail.readCount}}</view>
			</view>
			<view class="tui-news-content dui-lineheight-2">
				<rich-text :nodes="articleContent"></rich-text>
			</view>
			
			<view class="tui-operate-box">
				<tui-tag padding="26rpx 56rpx" :type="isFabulous ? 'primary' : 'gray'" shape="circle" :plain="true" @click="btnFabulous">
					<tui-icon :name="iconName(isFabulous)" :size="20" :color="iconColor"></tui-icon>
					<text class="tui-black" :class="[isFabulous ? 'tui-primary' : '']">{{ dataDetail.starCount }}赞</text>
				</tui-tag>
				<button open-type="share" class="tui-share-btn" @tap="btnShare">
					<tui-tag padding="26rpx 60rpx" type="gray" shape="circle" :plain="true">
						<tui-icon name="partake" :size="20" color="#333"></tui-icon>
						<text class="tui-black">分享</text>
					</tui-tag>
				</button>
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
		<!-- <tui-nomore v-if="!pullUpOn" backgroundColor="#fff" text="没有更多评论"></tui-nomore> -->
		<!--加载loadding-->
		<view class="tui-safearea-bottom"></view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			minioUrl:this.config.minioUrl,
			fabulous: 123,
			isFabulous: false,
			isCollection: false,
			dataDetail: {},
			pageIndex: 1,
			loadding: true,
			pullUpOn: true,
			articleId: '',
			proDropData: [],
			articleContent: ''
		}
	},
	computed: {
		iconColor() {
			return this.isFabulous ? '#40bdd1' : '#333'
		},
		itemIconColor() {
			return function(isFabulous) {
				return isFabulous ? '#40bdd1' : '#9a9a9a'
			}
		},
		iconName() {
			return function(isFabulous) {
				return isFabulous ? 'agree-fill' : 'agree'
			}
		}
	},
	onLoad(options) {
		this.articleId = options.articleId
		this.getTabList()
		this.getData()
	},
	methods: {
		//获取tab列表
		getTabList() {
			this.loadding = true;
			let data = {
				dictType: 'dpm_specialist_type'
			}
			this.tui.request('weapp/article/titleList', 'GET', data, false, false, true).then((res) => {
				if (res.code == 200) {
					let list = []
					for (let i = 0; i < res.data.length; i++) {
						let obj = {}
						obj.name = res.data[i].dictLabel
						obj.selected = false
						obj.id = res.data[i].dictValue
						this.proDropData.push(obj)
					}
				}
			})
		},
		//获取科室名称
		getDictName(value){
			for(let i = 0; i < this.proDropData.length; i++){
				if(value == this.proDropData[i].id){
					return this.proDropData[i].name
				}
			}
		},
		//获取数据
		getData() {
			this.loadding = true;
			let data = {
				articleId: this.articleId
			}
			this.tui.request('weapp/article/query', 'GET', data, false, false, true).then((res) => {
				console.log(res)
				if (res.code == 200) {
					this.dataDetail = res.data
					this.articleContent = this.formatRichText(res.data.articleContent);
				}
				this.loadding = false;
			})
		},
		//解决富文本图片超出问题
		formatRichText (html) {
			// 去掉img标签里的style、width、height属性
			let newContent= html.replace(/<img[^>]*>/gi,function(match,capture){
				match = match.replace(/style="[^"]+"/gi, '').replace(/style='[^']+'/gi, '');
				match = match.replace(/width="[^"]+"/gi, '').replace(/width='[^']+'/gi, '');
				match = match.replace(/height="[^"]+"/gi, '').replace(/height='[^']+'/gi, '');
				return match;
			});
			// 修改所有style里的width属性为max-width:100%
			newContent = newContent.replace(/style="[^"]+"/gi,function(match,capture){
				match = match.replace(/width:[^;]+;/gi, 'max-width:100%;').replace(/width:[^;]+;/gi, 'max-width:100%;');
				return match;
			});
			// 去掉<br/>标签
			newContent = newContent.replace(/<br[^>]*\/>/gi, '');
			// img标签添加style属性：max-width:100%;height:auto
			newContent = newContent.replace(/\<img/gi, '<img style="max-width:100%;height:auto;display:block;margin:0px auto;"');
			return newContent;
		},
		//点赞
		btnFabulous: function() {
			this.fabulous = this.isFabulous ? 123 : 124;
			this.isFabulous = !this.isFabulous
		},
		cmtFabulous: function(e) {
			let index = e.currentTarget.id;
			let fabulousObj = this.cmtList[index];
			let isFabulous = this.cmtList[index].isFabulous;
			let fabulous = this.cmtList[index].fabulous;
			let fabulousNum = isFabulous ? fabulous - 1 : fabulous + 1;
			this.$set(fabulousObj, "fabulous", fabulousNum);
			this.$set(fabulousObj, "isFabulous", !isFabulous);
		},
		collection: function() {
			this.isCollection = !this.isCollection
			if (this.isCollection) {
				this.tui.toast("收藏成功！");
			}
		},
		btnCmt: function() {
			uni.navigateTo({
				url: '../comment/comment'
			})
		},
		cmtAll: function() {
			uni.navigateTo({
				url: '../commentList/commentList'
			})
		},
		cmtReply: function() {
			uni.navigateTo({
				url: '../commentReply/commentReply'
			})
		},
		//分享
		btnShare(){
			// #ifdef H5
			location.href = 'https://www.thorui.cn/';
			// #endif

			//#ifdef APP-PLUS
			plus.share.sendWithSystem(
				{
					content: 'ThorUI组件库',
					href: 'https://www.thorui.cn/'
				},
				function() {
					console.log('分享成功');
				},
				function(e) {
					console.log('分享失败：' + JSON.stringify(e));
				}
			);
			//#endif
		}
	},
	// 页面上拉触底事件的处理函数
	/* onReachBottom: function() {
		if (!this.pullUpOn) return;
		this.loadding = true
		if (this.pageIndex == 3) {
			this.loadding = false;
			this.pullUpOn = false
		} else {
			let arr = JSON.parse(JSON.stringify(this.cmtList));
			this.cmtList = this.cmtList.concat(arr);
			this.pageIndex = this.pageIndex + 1;
			this.loadding = false
		}
	} */
}
</script>

<style>
page {
	background: #fff;
	color: #333;
}

.container {
	padding: 40rpx 30rpx 110rpx 30rpx;
	box-sizing: border-box;
}

.tui-news-title {
	font-size: 48rpx;
	font-weight: 500;
	text-align: justify;
}

.tui-sub-info {
	padding-top: 30rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 28rpx;
	color: #999;
}

.tui-author {
	color: #40bdd1;
	padding-right: 20rpx;
}

.tui-news-content {
	padding-top: 40rpx;
	line-height: 2;
}

.tui-article {
	/* text-indent: 2em; */
	font-size: 34rpx;
	padding-bottom: 40rpx;
	line-height: 60rpx;
	text-align: justify;
	word-break: break-all;
	word-wrap: break-word;
}

.tui-article-pic {
	width: 100%;
	display: block;
	margin-bottom: 40rpx;
}

.tui-news-source {
	font-size: 24rpx;
	color: #999;
}

.tui-operate-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60rpx 40rpx;
	box-sizing: border-box;
}

.tui-black {
	color: #333;
	padding-left: 12rpx;
}

.tui-cmt-title {
	font-size: 30rpx;
	font-weight: bold;
	position: relative;
}

.tui-cmt-title::after {
	content: '';
	position: absolute;
	left: -18rpx;
	top: 18%;
	width: 6rpx;
	height: 64%;
	background: #40bdd1;
}

.tui-cmtbox {
	padding-bottom: 20rpx;
}

.tui-cmt-cell {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 44rpx;
}

.tui-avatar {
	width: 64rpx;
	height: 64rpx;
	border-radius: 32rpx;
	display: block;
	flex-shrink: 0;
}

.tui-cmt-detail {
	width: 100%;
	padding-left: 16rpx;
	box-sizing: border-box;
}

.tui-header-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 30rpx;
}

.tui-cmt-nickname {
	color: #40bdd1;
}

.tui-fabulous {
	color: #9a9a9a;
}

.tui-fabulous text {
	padding-right: 4rpx;
	font-size: 24rpx;
}

.tui-cmt-content {
	font-size: 32rpx;
	color: #333;
	text-align: justify;
	padding-top: 8rpx;
	word-break: break-all;
	word-wrap: break-word;
}

.tui-reply-box {
	border-radius: 8rpx;
	overflow: hidden;
	margin-top: 16rpx;
}

.tui-cell-last {
	display: flex;
	align-items: center;
	word-wrap: break-word;
	color: #40bdd1;
}
.tui-flex-1 {
	flex: 1;
	width: 100%;
}

.tui-reply-nickname {
	font-size: 24rpx;
	color: #7a7a7a;
	padding-bottom: 8rpx;
}

.tui-footer {
	display: flex;
	align-items: center;
	font-size: 24rpx;
	margin-top: 16rpx;
	color: #9a9a9a;
}

.tui-primary {
	color: #40bdd1 !important;
}

.tui-ml {
	margin-left: 16rpx;
}

.tui-operation {
	width: 100%;
	height: 100rpx;
	overflow: hidden;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999;
	padding-bottom: env(safe-area-inset-bottom);
}

.tui-safearea-bottom {
	width: 100%;
	height: env(safe-area-inset-bottom);
}

.tui-operation::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-top: 1rpx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.tui-operation-left {
	display: flex;
	align-items: center;
}

.tui-operation-item {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.tui-operation-right {
	height: 100rpx;
	box-sizing: border-box;
	padding-top: 0;
}

.tui-right-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tui-btn-comment {
	height: 64rpx;
	width: 84%;
	background: #ededed;
	color: #999;
	border-radius: 8rpx;
	font-size: 28rpx;
	display: flex;
	align-items: center;
	padding-left: 20rpx;
	box-sizing: border-box;
	padding-top: 0;
	margin-left: 30rpx;
}

.tui-col-7 {
	width: 58.33333333%;
}

.tui-col-5 {
	width: 41.66666667%;
}

.tui-share-btn {
	display: block;
	background: none;
	margin: 0;
	padding: 0;
}
</style>
