<template>
	<view class="container dui-fontsize-28">
		<view v-if="dataList.length > 0" :class="{'tui-order-list':scrollTop>=0}">
			<view class="bg-white tui-list-item" v-for="(item,dataIndex) in dataList" :key="dataIndex" @tap="see(item.id, item.orderId)">
				<view class="flex justify-between">
					<view class="text-bold text-xl">{{item.noticeTitle}}</view>
					<view @tap="see(item.id)" class="dui-text-cblue" v-if="item.status == 0"><text class="cuIcon-attention"></text>未读</view>
					<view class="text-gray" v-else><text class="cuIcon-attentionfill"></text>已读</view>
				</view>
				
				<view class="padding-top-sm">购买内容：{{item.omsOrderItemList[0].productName}}</view>
				<view class="margin-top">购买人：<text class="text-bold">{{item.omsOrder.receiverName}}</text> </view>
				<view class="margin-top">订单编号：<text class=" text-df">{{item.omsOrder.orderSn}}</text></view>
				<view class="margin-top">下单时间：<text class=" text-df">{{item.omsOrder.createTime}}</text></view>
				<view class="margin-top">支付方式：<text class=" text-df">微信支付</text></view>
			</view>
		</view>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :width="256" :fixed="false" style="margin-top: 100rpx;" :imgUrl="minioUrl+'img_nodata.png'">暂无记录</tui-no-data>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				minioUrl: this.config.minioUrl, //静态图片地址
				current: 1,
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: true,
				pullUpOn: true,
				scrollTop: 0,
				listStatus: '1',
				dataList: []
			}
		},
		onLoad(options) {
			this.type = options.type
			this.dataList = []
			this.getDataList()
		},
		methods: {
			//获取数据列表
			getDataList() {
				this.loadding = true;
				let data = {
					memberId: uni.getStorageSync("userInfo").id,
					pageNum: this.pageIndex,
					pageSize: this.pageSize,
					noticeType:1
				}
				this.tui.request('mall-portal/orderNotice/list/noAuth', 'POST', data, false, true, true,'mall').then((res) => {
					console.log(res)
					if (res.code == 200) {
						this.count = res.data.total
						var lists = res.data.list
						if(lists){
							this.dataList =this.dataList.concat(lists)
						}
					}
					this.loadding = false;
				})
			},
			/* 标为已读 */
			see(id, orderId){
				let data = {
					id:id
				}
				this.tui.request('mall-portal/orderNotice/changeStatus/noAuth', 'POST', data, false, true, true,'mall').then((res) => {
					console.log(res)
					if (res.code == 200) {
						// this.tui.showToast('已标为已读','none')
						this.pageIndex = 1
						this.dataList=[]
						this.getDataList()
						uni.navigateTo({
							url:'../my/orderDetail?orderId=' + orderId
						})
					}
				})
			}
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.loadding = true;
			this.dataList = []
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count / this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了', 'none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		},
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	
	.tui-list-item {
	    border-radius: 10rpx;
	    overflow: hidden;
	    border: 1px solid #efefef;
	    margin: 20rpx 20rpx 0;
	    box-shadow: 2px 2px 3px #efefef;
		padding:20rpx;
		
	}
	.item-image {
		border-radius: 10rpx;
		height: 160rpx;
		width: 240rpx;
	}

	.content-box {
		height: 160rpx;
	}

	.icon-image {
		width: 40rpx;
		height: 50rpx;
	}

	/*tabbar*/

	.tui-tabbar {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99999;
		background: #fff;
		height: 100rpx;
		left: 0;
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}

	.tui-tabbar::before {
		content: '';
		width: 100%;
		border-top: 1rpx solid #d9d9d9;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}

	/*tabbar*/

	.tui-news-flex {
		width: 100%;
		display: flex;
	}

	.tui-flex-column {
		flex-direction: column !important;
	}

	.tui-flex-between {
		justify-content: space-between !important;
	}

	.tui-news-tbox {
		flex: 1;
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}

	.tui-news-picbox {
		display: flex;
		position: relative;
	}

	.tui-w220 {
		width: 220rpx;
	}

	.tui-h30 {
		height: 130rpx;
	}

	.tui-news-title {
		width: 100%;
		font-size: 32rpx;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		box-sizing: border-box;
	}

	.tui-sub-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #999;
		box-sizing: border-box;
		line-height: 24rpx;
	}

	.tui-sub-cmt {
		font-size: 24rpx;
		line-height: 24rpx;
		display: flex;
		align-items: center;
	}


	/*header 下拉选择*/

	.tui-scroll-box {
		width: 100%;
		height: 480rpx;
		box-sizing: border-box;
		position: relative;
		z-index: 99;
		color: #fff;
		font-size: 30rpx;
		word-break: break-all;
	}

	.tui-drop-item {
		color: #333;
		height: 80rpx;
		font-size: 28rpx;
		padding: 20rpx 40rpx 20rpx 40rpx;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
	}

	.tui-drop-btnbox {
		width: 100%;
		height: 100rpx;
		position: absolute;
		left: 0;
		bottom: 0;
		box-sizing: border-box;
		display: flex;
	}

	.tui-drop-btn {
		width: 50% !important;
		border-radius: 0 !important;
		font-size: 32rpx !important;
		text-align: center;
		height: 100rpx;
		line-height: 100rpx;
		border: 0;
	}


	/*header 下拉选择*/
	
	/*header*/
	.tui-header {
		width: 100%;
		/* box-shadow: 0 15rpx 10rpx -15rpx #f2f2f2; */
		box-sizing: border-box;
		background-color: #fff;
		position: fixed;
		z-index: 1000;
	}
	
	.tui-header-top,
	.tui-header-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 26rpx;
		color: #333;
	}

	
	.tui-bottom-item .tui-icon-class,
	.tui-screen .tui-icon-class {
		margin-left: 6rpx;
	}
	
	
	.tui-header-bottom {
		height: 108rpx;
		padding: 0 30rpx;
		box-sizing: border-box;
		font-size: 24rpx;
		align-items: flex-start;
		overflow: hidden;
	}
	
	.tui-bottom-text {
		line-height: 24rpx;
	}
	
	.tui-bottom-item {
		flex: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 18rpx 12rpx;
		border-radius: 40rpx;
		box-sizing: border-box;
		background: #f2f2f2;
		margin-right: 20rpx;
		white-space: nowrap;
	}
	
	.tui-bottom-item:last-child {
		margin-right: 0;
	}
	
	.tui-btmItem-active {
		padding-bottom: 60rpx;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.tui-bold {
		font-weight: bold;
	}
	
	.tui-active {
		color: #40bdd1;
	}
	
	.tui-ml {
		margin-left: 6rpx;
	}
	
	.tui-seizeaseat-20 {
		height: 20rpx;
	}
	
	.tui-seizeaseat-30 {
		height: 30rpx;
	}
	
	.tui-middle {
		vertical-align: middle;
	}
	
	.tui-drop-item .tui-icon-class {
		vertical-align: middle;
	}
	
	/*header*/
</style>
