<template>
	<view class="container dui-fontsize-28">
		<tui-tabs :tabs="tabs" :isFixed="scrollTop>=0" :currentTab="currentTab" selectedColor="#40bdd1" sliderBgColor="#40bdd1"
		 @change="change" itemWidth="50%"></tui-tabs>
		<!--新闻列表-->
		<view v-if="dataList.length > 0" :class="{'tui-order-list':scrollTop>=0}">
			<view class="tui-news-view">
				<block v-for="(item,index) in dataList" :key="index">
					<tui-list-cell :index="index" @click="goToDetail(item.noticeId)" :unlined="3==index">
						<view class="tui-news-flex">
							<view class="tui-news-tbox tui-flex-column tui-flex-between tui-h130 padding-left-sm">
								<view class="tui-news-title">{{item.noticeTitle}}</view>
								<view class="tui-sub-box margin-top-sm">
									<view class="text-df">{{item.createTime}}</text>
									</view>
								</view>
							</view>
						</view>
					</tui-list-cell>
				</block>
			</view>
		</view>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :width="256" :fixed="false" style="margin-top: 100rpx;" :imgUrl="minioUrl+'img_nodata.png'">暂无消息</tui-no-data>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				minioUrl: this.config.minioUrl, //静态图片地址
				current: 1,
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: true,
				pullUpOn: true,
				scrollTop: 0,
				listStatus: '1',
				tabs: [{
					name: "通知",
					status: '1'
				}, {
					name: "公告",
					status: '2'
				}],
				dataList: []
			}
		},
		onLoad(options) {
			this.type = options.type
			this.dataList = []
			this.getDataList()
		},
		methods: {
			//获取数据列表
			getDataList() {
				this.loadding = true;
				let data = {
					noticeType: this.listStatus,
					pageNum: this.pageIndex,
					pageSize: this.pageSize
				}
				this.tui.request('weapp/notice/list', 'GET', data, false, false, true).then((res) => {
					console.log(res)
					if (res.code == 200) {
						this.count = res.total
						var lists = res.rows
						if(lists){
							this.dataList =this.dataList.concat(lists)
						}
					}
					this.loadding = false;
				})
			},
			//切换数据状态
			change(e) {
				let index = e.index;
				if (index == this.currentTab) return;
				this.currentTab = index;
				this.pageIndex = 1;
				this.listStatus = this.tabs[index].status;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				}).then(() => {
					this.pageIndex = 1;
					this.dataList = [];
					this.getDataList();
				})
			},
			/* 跳转到详情页面 */
			goToDetail(id) {
				uni.navigateTo({
					url: '../news/noteDetail?articleId=' + id
				})
			}
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.loadding = true;
			this.dataList = []
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count / this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了', 'none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		},
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	.item-image {
		border-radius: 10rpx;
		height: 160rpx;
		width: 240rpx;
	}

	.content-box {
		height: 160rpx;
	}

	.icon-image {
		width: 40rpx;
		height: 50rpx;
	}

	/*tabbar*/

	.tui-tabbar {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99999;
		background: #fff;
		height: 100rpx;
		left: 0;
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}

	.tui-tabbar::before {
		content: '';
		width: 100%;
		border-top: 1rpx solid #d9d9d9;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}

	/*tabbar*/

	.tui-order-list {
		margin-top: 80rpx;
	}

	.tui-news-flex {
		width: 100%;
		display: flex;
	}

	.tui-flex-column {
		flex-direction: column !important;
	}

	.tui-flex-between {
		justify-content: space-between !important;
	}

	.tui-news-tbox {
		flex: 1;
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}

	.tui-news-picbox {
		display: flex;
		position: relative;
	}

	.tui-w220 {
		width: 220rpx;
	}

	.tui-h30 {
		height: 130rpx;
	}

	.tui-news-title {
		width: 100%;
		font-size: 32rpx;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		box-sizing: border-box;
	}

	.tui-sub-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #999;
		box-sizing: border-box;
		line-height: 24rpx;
	}

	.tui-sub-cmt {
		font-size: 24rpx;
		line-height: 24rpx;
		display: flex;
		align-items: center;
	}


	/*header 下拉选择*/

	.tui-scroll-box {
		width: 100%;
		height: 480rpx;
		box-sizing: border-box;
		position: relative;
		z-index: 99;
		color: #fff;
		font-size: 30rpx;
		word-break: break-all;
	}

	.tui-drop-item {
		color: #333;
		height: 80rpx;
		font-size: 28rpx;
		padding: 20rpx 40rpx 20rpx 40rpx;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
	}

	.tui-drop-btnbox {
		width: 100%;
		height: 100rpx;
		position: absolute;
		left: 0;
		bottom: 0;
		box-sizing: border-box;
		display: flex;
	}

	.tui-drop-btn {
		width: 50% !important;
		border-radius: 0 !important;
		font-size: 32rpx !important;
		text-align: center;
		height: 100rpx;
		line-height: 100rpx;
		border: 0;
	}


	/*header 下拉选择*/
	
	/*header*/
	.tui-header {
		width: 100%;
		/* box-shadow: 0 15rpx 10rpx -15rpx #f2f2f2; */
		box-sizing: border-box;
		background-color: #fff;
		position: fixed;
		z-index: 1000;
	}
	
	.tui-header-top,
	.tui-header-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 26rpx;
		color: #333;
	}

	
	.tui-bottom-item .tui-icon-class,
	.tui-screen .tui-icon-class {
		margin-left: 6rpx;
	}
	
	
	.tui-header-bottom {
		height: 108rpx;
		padding: 0 30rpx;
		box-sizing: border-box;
		font-size: 24rpx;
		align-items: flex-start;
		overflow: hidden;
	}
	
	.tui-bottom-text {
		line-height: 24rpx;
	}
	
	.tui-bottom-item {
		flex: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 18rpx 12rpx;
		border-radius: 40rpx;
		box-sizing: border-box;
		background: #f2f2f2;
		margin-right: 20rpx;
		white-space: nowrap;
	}
	
	.tui-bottom-item:last-child {
		margin-right: 0;
	}
	
	.tui-btmItem-active {
		padding-bottom: 60rpx;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.tui-bold {
		font-weight: bold;
	}
	
	.tui-active {
		color: #40bdd1;
	}
	
	.tui-ml {
		margin-left: 6rpx;
	}
	
	.tui-seizeaseat-20 {
		height: 20rpx;
	}
	
	.tui-seizeaseat-30 {
		height: 30rpx;
	}
	
	.tui-middle {
		vertical-align: middle;
	}
	
	.tui-drop-item .tui-icon-class {
		vertical-align: middle;
	}
	
	/*header*/
</style>
