<template>
	<view class="container">
		<block v-if="JSON.stringify(data) != '{}' || !isEvaluate">
			<view  class="tui-header-center">
				<image :src="picUrl" class="tui-avatar"></image>
				<view class="tui-info">
					<view class="tui-nickname">{{name}} </view>
				</view>
				<view class="tui-set-box">
					<view class="text-gray">
						{{type}}
					</view>
				</view>
			</view>
			<view class="tui-center">
				<view class="tui-rate-container dui-margin-t-30 dui-margin-l-20">
					<text class="dui-margin-r-10">评分</text>
					<tui-rate :current="data.dpmServiceVo.evaluationLevel/20" class="dui-margin-lf-10" active="#ff7900" v-if="isEvaluate"></tui-rate> 
					<tui-rate :current="rank" @change="change" class="dui-margin-lf-10" active="#ff7900" v-else></tui-rate> 
					<text class="dui-margin-l-10" v-if="isEvaluate">{{data.dpmServiceVo.evaluationLevel + '分'}}</text>
				</view>
			</view>
			<view class="tui-form margin-lr-sm" v-if="isEvaluate">
				<view class="tui-textarea-box dui-lineheight-2 padding-sm">
					{{data.dpmServiceVo.evaluationContent}}
				</view>
			</view>
			<view class="tui-form margin-lr-sm" v-else>
				<view class="tui-textarea-box">
					<textarea class="tui-textarea padding-sm" name="desc" placeholder="医生的回复是否解决了您的问题,写下的您的评价吧" maxlength="256" placeholder-class="tui-phcolor-color" :value="idea" @input="inputIdea"/>
					<view class="tui-textarea-counter">{{num}}/256</view>
				</view>
				<view class="tui-btn-box dui-margin-t-20">
					<button class="right-btn text-white" :disabled="disabled" @tap="submit()">确定</button>
				</view>
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
		
	</view>
</template>

<script>
export default {
	computed: {
		disabled: function() {
			let bool = true;
			if (this.idea) {
				bool = false;
			}
			return bool;
		}
	},
	data() {
		return {
			minioUrl:this.config.minioUrl,//静态图片地址
			id:'',//id
			idea:'',
			num:0,
			data: {},
			//isAnonymous:'YES',//是否匿名
			rank:5,//评分级别
			rankNum:100,//评分
			loadding: true,
			show: false,
			index: 3,
			checked:true,
			isEvaluate:false,
			name:'',//医生姓名
			picUrl:'',//医生头像
			type:'',//咨询类型
			content:'这是评价内容这是评价内容这是评价内容这是评价内容这是评价内容这是评价内容这是评价内容',//评价内容
		};
	},
	onLoad(options){
		console.log(options)
		this.id =options.id
		this.isEvaluate = options.isEvaluate>0?true:false
		this.name= options.name
		this.picUrl= options.picUrl
		this.type= options.type
		if(this.isEvaluate){
			this.getDetail()
		}else{
			this.loadding = false
		}
	},
	methods: {
		/* 评价内容 */
		getDetail(){
			this.loadding = true
			var that = this
			let data = {
				// userId: this.userId
			}
			this.tui.request('weapp/service/' + this.id, 'GET', data, false, false, true).then((res) => {
				if (res.code == 200) {
					this.data = res.data
					
				}
				this.loadding = false
			})
		},
		//提交
		submit(e){
			if(this.idea == ''){
				this.tui.showToast('提交内容不可为空！')
			}else{
			let data = {
				id:this.id,
				evaluationLevel: this.rank * 20,
				evaluationContent: this.idea
			};
			this.tui.request('mall-portal/service/evaluation', 'POST', data, false, false, true, 'mall').then((res) => {
				console.log(res)
				if(res.code == 200){
					this.getDetail()
					this.tui.showToast("操作成功","success",true,'navigateBack')
				}
			})
			}
		},	
		//切换评分
		change: function(e) {
				this.index = e.index;
				this.rank = e.index;
				this.rankNum = e.index*20;
			},
		//获取意见
		inputIdea(e){
			this.idea = e.detail.value;
			this.num =this.idea.length;
		},
		//是否匿名
		checkboxChange: function (e) {
			let value = e.detail.value;
			if(value.length !=0){
				this.isAnonymous = 'YES'
			}else{
				this.isAnonymous = 'NO'
			}   
		}
	}
};
</script>
<style>
/* @import '../../../static/style/thorui.css'; */
	page{
		background: #fff;
	}
	.tui-header-center {
		width: 100%;
		height: 100rpx;
		left: 0;
		padding: 0 20rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}
	
	.tui-avatar {
		flex-shrink: 0;
		width: 90rpx;
		height: 90rpx;
		display: block;
		border-radius: 50%;
	}
	.tui-info {
		width: 60%;
		padding-left: 30rpx;
	}
	.tui-nickname {
		font-size: 30rpx;
		font-weight: 500;
		display: flex;
		align-items: center;
	}
	.right-btn{
		width: 70%;
		height: 80rpx;
		line-height: 80rpx;
		background-color: #40bdd1;
		border-radius: 60rpx 60rpx 60rpx 60rpx;
	}
	.right-btn:hover{
		background-color: #40bdd1;
	}
	.tui-center {
		flex: 1;
		padding: 0rpx 0rpx 20rpx;
		box-sizing: border-box;
	}
	.tui-textarea-box{
		background: #efefef;
		border-radius: 10rpx;
	}
	.tui-textarea {
		height: 210rpx;
		width: 100%;
		color: #666;
		font-size: 28rpx;
	}
	
	.tui-phcolor-color {
		color: #ccc !important;
	}
	
	.tui-textarea-counter {
		font-size: 24rpx;
		color: #999;
		text-align: right;
		height: 40rpx;
		line-height: 40rpx;
		padding-top: 4rpx;
	}
	
</style>

