<template>
	<view class="container">
		<tui-tabs :tabs="tabs" :isFixed="scrollTop>=0" :currentTab="currentTab" selectedColor="#40bdd1" sliderBgColor="#40bdd1"
		 @change="change" itemWidth="25%"></tui-tabs>
		<!--选项卡逻辑自己实现即可，此处未做处理-->
		<view :class="{'dui-margin-t-80':scrollTop>=0}">
			<view v-if="dataList.length > 0" class="tui-list-item" v-for="(item,dataIndex) in dataList" :key="dataIndex"
			 :data-id="modal.id">
				<tui-list-cell :hover="false" padding="0">
					<view class="tui-data-item">
						<block v-if="item.doctorForServiceVo.avatar">
							<image :src="item.doctorForServiceVo.avatar" mode="aspectFill" class="tui-data-img" lazy-load></image>
						</block>
						<block v-else>
							 <image :src="minioUrl+'yisheng.png'" class="tui-data-img" mode="widthFix"  lazy-load></image>
						</block>
						<view class="tui-data-center margin-left">
							<view class="tui-data-name">
								<text class="text-black text-bold">{{item.serviceProviderName}}</text>
								<text class="margin-left-sm">{{item.doctorForServiceVo.dept.deptName}}</text>
								<text class="margin-left-sm">{{item.doctorForServiceVo.postName}}</text>
							</view>
							<view class="tui-data-attr">{{item.doctorForServiceVo.deptUpName}}</view>
						</view>
					</view>
					<view class="dui-padding-lr-20 padding-bottom-sm">
						<view class="margin-bottom-sm dui-lineheight-2">病情主诉：{{item.patientReadme ? item.patientReadme:'无' }}</view>
						<view class="dui-lineheight-2">医生小结：{{item.doctorSummary ? item.doctorSummary :'无' }}</view>
					</view>
				</tui-list-cell>
				<!-- </block> -->
				<tui-list-cell :hover="false" unlined>
					<view class="flex justify-between">
						<view>{{item.createTime}}</view>
						<view>交互次数：{{item.interactionCount}}次</view>
						<view class="dui-text-underline" v-if="item.serviceStatus > 2" :class="item.evaluationLevel > 0 ?'text-green':'text-orange'"  @click="goAppraise(item.id,item.evaluationLevel,item.serviceProviderName,item.doctorForServiceVo.avatar,item.serviceName)">{{item.evaluationLevel > 0 ? '已评价':'去评价'}}</view>
						<view class="dui-text-underline text-gray" v-else  @click="goContAppraise(item.serviceStatus)">去评价</view>
					</view>
				</tui-list-cell>
			</view>
			<tui-no-data v-if="dataList.length == 0 && !loadding" :width="256" :fixed="false" style="margin-top: 100rpx;" :imgUrl="minioUrl+'img_nodata.png'">暂无数据</tui-no-data>

		</view>
		<!--加载loadding-->
		<tui-nomore v-if="!pullUpOn" backgroundColor="#fafafa"></tui-nomore>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				minioUrl:this.config.minioUrl,//静态图片地址
				current: 1,
				tabs: [{
					name: "图文",
					status: '0'
				}, {
					name: "语音",
					status: '1'
				}, {
					name: "视频",
					status: '2'
				 },{
					name: "预约",
					status: '3'
				}
				],
				currentTab: 0,
				pageIndex: 1,
				pageSize: 20,
				count: 0,
				loadding: true,
				pullUpOn: true,
				scrollTop: 0,
				listStatus: '',
				dataList: [],
				courseAppid:this.tui.courseAppid
			}
		},
		onLoad(option) {
			console.log(option)
			this.currentTab = option.index
			this.listStatus = option.type
			//隐藏左上角小房子
			//uni.hideHomeButton()
		},
		onShow() {
			this.dataList = []
			this.getDataList()
		},
		methods: {
			//获取咨询列表
			getDataList() {
				let that = this
				this.loadding = true;
				//console.log(uni.getStorageSync('userInfo').id)
				let data = {
					serviceUserId:uni.getStorageSync('userInfo').id
				}
				this.tui.request('list', 'GET', data, false, false, true,'im').then((res) => {
					console.log(res,'000')
					if (res.code == 200) {
						this.count = res.total
						var lists = res.rows
						this.dataList = this.dataList.concat(lists)
					}
					this.loadding = false;
				})
			},
			//切换订单状态
			change(e) {
				let index = e.index;
				
				if (index == this.currentTab) return;
				this.currentTab = index;
				this.pageIndex=1;
				this.listStatus = this.tabs[index].status;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				}).then(() => {
					if(this.listStatus == '0'){
						this.pageIndex = 1;
						this.dataList = [];
						this.getDataList();
					}else{
						this.dataList = [];
					}
					
				})
			},
			//跳转订单详情
			detail(e) {
				let id = e.currentTarget.dataset.id;
				console.log(id)
				uni.navigateTo({
					url: '../orderDetail/orderDetail?id=' + id
				})
			},
			//去评价
			goAppraise(id,isEvaluate,name,picUrl,type){
				uni.navigateTo({
					url: './appraise?id='+id+'&isEvaluate=' + isEvaluate+'&name='+name+'&picUrl='+picUrl+'&type=' + type
				})
			},
			goContAppraise(status){
				if(status < 3){
					uni.showModal({
					    title: '提示',
					    content: '您的服务暂未结束，无法评价。',
						 showCancel:false,
						 confirmText:"确定",
					});
				}
			}
		},
		onPullDownRefresh() {
			this.pageIndex = 1;
			this.pullUpOn = true
			this.dataList = []
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count / this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了', 'none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		},
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}
	/*tabbar*/
	.tui-tabbar {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99999;
		background: #fff;
		height: 100rpx;
		left: 0;
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}
	.tui-safearea-bottom {
		width: 100%;
		height: env(safe-area-inset-bottom);
	}
	.tui-tabbar::before {
		content: '';
		width: 100%;
		border-top: 1rpx solid #d9d9d9;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}
	/*tabbar*/
	.tui-list-item {
		border-radius: 10rpx;
		overflow: hidden;
		border: 1px solid #efefef;
		margin: 20rpx 20rpx 0;
		box-shadow: 2px 2px 3px #efefef;
	}
	.tui-data-item {
		width: 100%;
		padding: 20rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
	}

	.tui-data-img {
		width: 90rpx;
		height: 90rpx;
		display: block;
		flex-shrink: 0;
		border-radius: 20%;
	}

	.tui-data-center {
		flex: 1;
		padding: 10rpx 0rpx;
		box-sizing: border-box;
	}

	.tui-data-name {
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		font-size: 28rpx;
		line-height: 32rpx;
	}

	.tui-data-attr {
		font-size: 26rpx;
		color: #888888;
		line-height: 32rpx;
		padding-top: 20rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
</style>
