<template>
	<view class="container dui-fontsize-28">
		<block v-if="dataList.length > 0">
			<view v-for="(item, index) in dataList" :key="index" class="bg-white dui-flex dui-padding-20 margin-bottom-sm" @click="goToDoctorDetail(item.userId)">
				<image class="list-img" :src="item.avatar?item.avatar:minioUrl+'yisheng.png'" mode="aspectFill" lazy-load></image>
				<view class="dui-flex1 margin-left-sm content-box">
					<view class="dui-flex-align-end dui-margin-b-20">
						<view class="dui-fontsize-32 text-name">{{item.dpmUmsDoctor.realName}}</view>
						<view class="dui-fontsize-28 dui-margin-l-30">{{item.dept.deptName}}　{{item.postName?item.postName:''}}</view>
					</view>
					<view class="dui-margin-b-20">
						{{item.deptUpName}}
					</view>
					<view class="flex justify-between">
						<view class="dui-fontsize-20 dui-flex dui-flex-wrap">
							<view class="label-box dui-margin-r-20 label-green dui-margin-b-10" v-for="(label, index) in item.tags" :key="index">
								{{label.content}}
							</view>
						</view>
						<tui-button v-if="status == '0'" margin="0 20rpx 0rpx 0" type="blue" width="100rpx" height="50rpx" :size="24" @tap.stop="doBind(item.userId)">去绑定</tui-button>
					</view>
				</view>
			</view>
		</block>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :fixed="false" :imgUrl="minioUrl + 'img_nodata.png'" lazy-load="true">暂无数据</tui-no-data>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				loadding: true,
				minioUrl:this.config.minioUrl,//静态图片地址
				type:'',//是否绑定及全部医生
				dataList: [],
				pageIndex: 1,
				pageSize: 10,
				count:0,
				pullUpOn: true,
				status: 1
			}
		},
		onLoad(options){
			this.status = options.status
			this.type = options.type
			this.dataList = []
			this.getDataList()
			if(this.status == 1){
				uni.setNavigationBarTitle({
					title:'专属医生列表'
				})
			}else{
				uni.setNavigationBarTitle({
					title:'待绑医生列表'
				})
			}
			
		},
		methods:{
			//获取医生列表
			getDataList() {
				this.loadding = true;
				let data = {
					pageNum: this.pageIndex,
					pageSize: this.pageSize,
					status: this.status
				}
				this.tui.request('mall-portal/sso/doctors', 'GET', data, false, false, true,'mall').then((res) => {
					console.log(res)
					if (res.code == 200) {
						this.count = res.data.totalPage
						var lists = res.data.list
						this.dataList =this.dataList.concat(lists)
					}
					this.loadding = false;
				})
			},
			/* 绑定医生 */
			doBind(id) {
				var data = {
					doctorId: id
				}
				this.tui.request('mall-portal/sso/binding?doctorId=' + id, 'POST', data, false, false, true, 'mall').then((
					res) => {
					if (res.code == 200) {
						this.tui.showToast('绑定成功', 'none')
						this.dataList = []
						this.getDataList()
					} else {
						this.tui.showToast(res.message, 'none')
					}
				})
			},
			goToDoctorDetail(userId){
				uni.navigateTo({
					url:'./doctorDetail?userId=' + userId
				})
			}
		},
		onPullDownRefresh() {
			this.pullUpOn = true
			this.pageIndex = 1;
			this.loadding = true;
			this.dataList = []
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count/this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了','none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		} ,
	}
</script>

<style>
	.list-img{
		width: 180rpx;
		height: 180rpx;
		border-radius: 40rpx;
	}
	.text-name{
		width: 100rpx;
	}
	.content-box{
		min-height: 180rpx;
	}
</style>
