<template>
	<view class="container">
		<block v-if="JSON.stringify(data) != '{}'">
			<view class="dui-padding-20 dui-background-blue dui-color-fff">
				<view class="padding-tb-sm dui-flex">
					<image class="list-img" :src="data.avatar?data.avatar:minioUrl +'drshan.png'"></image>
					<view class="dui-flex1 dui-margin-l-30">
						<view class="dui-fontsize-32 dui-margin-b-20">{{data.dpmUmsDoctor.realName}}</view>
						<view class="dui-margin-b-20">
							{{data.dept.deptName}}　{{data.postName?data.postName:''}}
						</view>
						<view class="dui-margin-b-20">
							{{data.deptUpName}}
						</view>
						<view class="dui-fontsize-20 dui-flex">
							<view class="label-box dui-margin-r-20 dui-background-white label-green"
								v-for="(label, index) in lableList" :key="index">
								{{label.content}}
							</view>
						</view>
					</view>
				</view>
				<view class="dui-flex-around">
					<view class="dui-text-center dui-flex-column-center">
						<view>456人</view>
						<view>服务人数</view>
					</view>
					<view class="dui-text-center dui-flex-column-center">
						<view>100%</view>
						<view>好评率</view>
					</view>
					<view class="dui-text-center dui-flex-column-center">
						<view>210000</view>
						<view>点赞数</view>
					</view>
				</view>
			</view>
			<view class="dui-padding-20 dui-flex-start-between dui-fontsize-20 bg-white">
				<block v-if="productList.length > 0">
					<view v-for="(item, index) in productList" :key="index" class="dui-flex-column-center dui-padding-10" @click="goToServiceDetail(item.id,item.publishStatus,item.buyType)">
						<view>{{item.name}}</view>
						<image v-if="item.publishStatus" :src="minioUrl+'goods' + item.productSn + '.png'" mode="widthFix" class="icon-90"></image>
						<image v-if="!item.publishStatus" :src="minioUrl+'goods' + item.productSn + '_grey.png'" mode="widthFix" class="icon-90"></image>
						<!-- <view>{{getMoney(item.productSn)}}</view> -->
						<view>￥{{item.firstSkuStockPrice}}</view>
					</view>
				</block>
				<block v-else>
					<view class="dui-flex-column-center dui-padding-10" @click="goToServiceDetail()">
						<view>暂无服务</view>
						<image :src="minioUrl + 'img_nodata.png'" mode="widthFix" class="icon-90"></image>
						<view>敬请期待</view>
					</view>
				</block>
			</view>
			<view v-if="data.dpmUmsDoctor.speciality" class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="0" :lineLeft="false">
					<view class="dui-flex-between text-bold padding-bottom-sm">
						医生擅长
					</view>
				</tui-list-cell>
				<view class="dui-padding-20 dui-lineheight-2">
					{{data.dpmUmsDoctor.speciality}}
				</view>
			</view>
			<view v-if="data.dpmUmsDoctor.recommendation" class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="0" :lineLeft="false">
					<view class="dui-flex-between text-bold padding-bottom-sm">
						推荐理由
					</view>
				</tui-list-cell>
				<view class="dui-padding-20">
					<view class="dui-flex-start dui-margin-b-20">
						<tui-icon name="star-fill" :size="15" color="#F37B1D" class="dui-lineheight-2"></tui-icon>
						<view class="dui-margin-l-10 dui-lineheight-2">
							{{data.dpmUmsDoctor.recommendation}}
						</view>
					</view>
				</view>
			</view>
			<view v-if="dataList.doctorLabel.length > 0" class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="0" :lineLeft="false">
					<view class="dui-flex-between text-bold padding-bottom-sm">
						医生关键词
					</view>
				</tui-list-cell>
				<view class="dui-padding-20 dui-fontsize-24 dui-flex dui-flex-wrap">
					<view v-for="(item, index) in dataList.doctorLabel" :key="index"
						class="label-box label-green dui-flex-center dui-margin-lr-10 dui-margin-tb-10">
						{{item.text}}
					</view>
				</view>
			</view>
			<view v-if="dpmArticle.length > 0" class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="0" :lineLeft="false">
					<view class="dui-flex-between text-bold padding-bottom-sm">
						医生发布
					</view>
				</tui-list-cell>
				<view class="dui-padding-20">
					<view v-for="(item, index) in dpmArticle" :key="index" class="dui-margin-b-20" @click="goToArticleDetail(item.articleId)">
						<view class="dui-margin-b-10">{{item.articleTitle}}</view>
						<view class="dui-flex-between dui-color-f4">
							<view class="">{{item.createTime}}</view>
							<view class="dui-flex dui-fontsize-24">
								阅读：{{item.readCount}}　赞：{{item.starCount}}
							</view>
						</view>
					</view>
				</view>
			</view>
			<view v-if="data.dpmUmsDoctor.message" class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="0" :lineLeft="false">
					<view class="dui-flex-between text-bold padding-bottom-sm">
						医生寄语
					</view>
				</tui-list-cell>
				<view class="dui-padding-20">
					<view class="dui-margin-b-20">
						{{data.dpmUmsDoctor.message}}
					</view>
					<view class="dui-text-end">--{{data.dpmUmsDoctor.realName}}</view>
				</view>
			</view>
			<!-- 第一次免费试用 -->
			<!-- <view v-if="dataList.status == 0" class="btn-box dui-padding-20 dui-color-fff dui-fontsize-36 dui-background-white">
				<view class="dui-flex-between dui-text-center">
					<view class="dui-flex-column-center">
						<tui-icon name="agree-fill" :size="20" color="#F37B1D"></tui-icon>
						<view class="dui-color-333 dui-fontsize-24">点赞</view>
					</view>
					<view class="right-btn" @tap="chat">图文咨询（免费试用）</view>
				</view>
			</view> -->
			<!-- 购买后联系医生 -->
			<view class="btn-box dui-padding-20 dui-color-fff dui-fontsize-36 dui-background-white">
				<view class="dui-flex-between dui-text-center">
					<view class="dui-flex-column-center">
						<tui-icon name="agree-fill" :size="20" color="#F37B1D"></tui-icon>
						<view class="dui-color-333 dui-fontsize-24">点赞</view>
					</view>
					<view class="right-btn" @tap="searchUser">联系医生</view>
				</view>
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				loadding: true,
				minioUrl: this.config.minioUrl, //静态图片地址
				dataList: {},
				productIcon:[''],
				data:{},
				ID: '',
				userId: '',
				productList:[],
				lableList:[],
				buyType:'',//商品是否购买，0为已购买，1为未购买
				dpmArticle:[],//医生发布的文章
				snData:[{
					sn: '001',
					money: '￥10-200'
				},{
					sn: '002',
					money: '￥30-300'
				},{
					sn: '003',
					money: '￥50-500'
				},{
					sn: '004',
					money: '￥99-799'
				},{
					sn: '005',
					money: '￥68000'
				}]
			}
		},
		computed: {
			...mapState({
				groupList: state => state.group.groupList
			}),
		},
		onLoad(options) {
			console.log(options)
			this.userId = options.userId
			this.ID = options.userId
		},
		onShow(){
			this.getData()
		},
		methods: {
			//获取医生详情
			getData() {
				this.loadding = true;
				let data = {
					userId: this.userId
				}
				this.tui.request('weapp/doctor/getDoctorInfo', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						this.data = res.data
						this.getProductList(res.data.userId)
						this.getLableList(res.data.userId)
						this.getDeptData(res.data.deptId)
					}
					this.loadding = false;
				})
			},
			//获取医生商品
			getProductList(userId) {
				console.log(uni.getStorageSync('userInfo'))
				let that = this
				this.loadding = true;
				let data = {
					sellerId: userId,
					pageNum: 1,
					pageSize: 5
				}
				this.tui.request('mall-portal/home/wxGetProductList', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						console.log(res)
						this.productList = res.data.list
						 let lists = res.data.list //判断此商品是否已经购买
						lists.forEach(function(item,index){
							item.buyType = 0
							let data = {
								serviceProviderId: that.userId,
								serviceUserId:uni.getStorageSync('userInfo').id,
							}
							that.tui.request('list/useable', 'GET', data, false, false, true,'im').then((res) => {
								console.log(res,'000')
								if (res.code == 200) {
									if(res.total >0){//已经购买
										item.buyType = 1
									}else{//未购买
										item.buyType = 0
									}
								}
								that.loadding = false;
							})
						}) 
					}
					this.loadding = false;
				})
			},
			//获取医生标签
			getLableList(userId) {
				this.loadding = true;
				let data = {
					doctorId: userId
				}
				this.tui.request('system/api/doctor/tags', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						this.lableList = res.data
					}
					this.loadding = false;
				})
			},
			//获取科室详情
			getDeptData(id) {
				this.loadding = true;
				let data = {
					deptId: id
				}
				this.tui.request('weapp/dept/getDeptInfo', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						this.dpmArticle = res.data.dpmArticle
					}
					this.loadding = false;
				})
			},
			/* 跳转到服务包详情页面 */
			goToServiceDetail(id,type,way) {
				if (type) {
					if(way == '1'){
						this.createConversation()
					}else{
						uni.navigateTo({
							url: '../service/serviceDetail?productId=' + id+'&doctorId='+this.userId
						})
					}
				} else {
					this.tui.toast('暂未开通此服务！')
				}

			},
			//查询价格
			getMoney(sn){
				var money = ''
				var snList = this.snData
				for(let i = 0; i < snList.length; i++){
					if(snList[i].sn === sn){
						money = snList[i].money
					}
				}
				return money
			},
			//跳转到文章详情
			goToArticleDetail(id){
				uni.navigateTo({
					url: '../news/newsDetail?articleId=' + id
				})
			},
			/* 判断医生是否已在腾讯云注册 */
			searchUser () {
			  wx.$app.getUserProfile({ userIDList: [this.ID] })
			    .then(({ data }) => {
					console.log(data,'isshagnxian')
			      wx.hideLoading()
			      if (data.length === 0) {
			        wx.showToast({ title: '医生暂未上线', duration: 1000, icon: 'none' })
			        return
			      }
			      this.createConversation()
			    }).catch((error) => {
			      wx.hideLoading()
			      wx.showToast({ title: error.message, duration: 1000, icon: 'none' })
			    })
			},
			/* 跳转到聊天界面 */
			chat() {
				this.createConversation()
			},
			// 发起会话
			createConversation() {
				this.loading = true
				this.$store.dispatch('checkoutConversation', `C2C${this.ID}`)
					.then(() => {
						this.loading = false
					})
					.catch(() => {
						this.loading = false
					})
			},
			/* 未开通服务提示 */
			toast(){
				this.tui.showToast('暂未开通此服务')
			}
		}
	}
</script>

<style>
	.container {
		padding-bottom: 120rpx;
	}

	.list-img {
		width: 180rpx;
		height: 180rpx;
		border-radius: 50%;
	}

	.btn-box {
		width: 100%;
		position: fixed;
		bottom: 0;
	}

	.left-btn {
		flex: 1;
		height: 100rpx;
		line-height: 100rpx;
		background-color: #FF7272;
		border-radius: 60rpx 0rpx 0rpx 60rpx;
	}

	.left-btn:hover {
		background-color: #FF5d5d;
	}

	.right-btn {
		width: 70%;
		height: 80rpx;
		line-height: 80rpx;
		background-color: #40bdd1;
		border-radius: 60rpx 60rpx 60rpx 60rpx;
	}

	.right-btn:hover {
		background-color: #40bdd1;
	}
</style>
