<template>
	<view class="container dui-padding-20 dui-fontsize-32">
		<view class="dui-flex-between dui-padding-tb-20">
			<view>服务医生</view>
			<view class="dui-flex-center">
				<image class="doc-image dui-margin-r-20" :src="minioUrl + 'yisheng.png'"></image>
				<view>单鹏飞</view>
			</view>
		</view>
		<view class="dui-flex-between dui-padding-tb-20 dui-lineheight-80">
			<view>服务项目</view>
			<view class="dui-color-f4">图文咨询</view>
		</view>
		<view class="dui-padding-tb-20 dui-lineheight-80">
			<view>病情自述</view>
			<view class="dui-padding-lr-20">
				<textarea class="textArea dui-lineheight-1-3 dui-padding-10 dui-fontsize-28 dui-border-redius10" placeholder="请尽量详细输入您的病情"></textarea>
			</view>
			<view class="dui-fontsize-24 dui-text-cblue">咨询须知:</view>
		</view>
		<view class="dui-padding-20 dui-background-white">
			<view class="btn dui-color-fff dui-fontsize-32 dui-font-bold dui-text-center">
				发起咨询
			</view>
		</view>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
			}
		}
	}
</script>

<style>
	.doc-image{
		width: 80rpx;
		height: 80rpx;
		border-radius: 50%;
	}
	.textArea{
		width: 100%;
		height: 200rpx;
		border: #bbbbbb 1rpx solid;
	}
	.btn{
		height: 80rpx;
		line-height: 80rpx;
		width: 100%;
		border-radius: 60rpx;
		background-color: #40bdd1;
	}
</style>
