<template>
	<view class="container">
		<block v-if="JSON.stringify(data) != '{}'">
			<view class="tui-banner-box">
				<swiper :indicator-dots="true" :autoplay="true" :interval="5000" :duration="150" class="tui-banner-swiper"
				 :circular="true" indicator-color="rgba(255, 255, 255, 0.8)" indicator-active-color="#fff">
					<swiper-item v-for="(item, index) in data.dpmAdvertise" :key="index" v-if="item.status == 1 ">
						<image :src="item.pic" class="tui-slide-image" mode="widthFix" />
					</swiper-item>
				</swiper>
			</view>
			<view class="dui-padding-20 bg-white">
				<tui-list-cell :arrow="false" padding="10rpx" :lineLeft="false">
					<view class="dui-fontsize-30 text-bold">科室介绍</view>
				</tui-list-cell>
				<view class="dui-margin-t-20 paading-lr-sm dui-lineheight-2">
					{{data.specialistIntro}}
				</view>
			</view>
			<view class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="true" :arrowRight="false" padding="10rpx" :lineLeft="false" @click="navigateTo('my','evaluationList')">
					<view class="dui-fontsize-30 text-bold">健康评测</view>
				</tui-list-cell>
				<view class="flex justify-between dui-margin-t-20"  @click="navigateTo('my','evaluationDetail')">
					<view><image :src="minioUrl+'pingce1.png'" class="img350 dui-border-redius10" mode="widthFix"></image></view>
					<view><image :src="minioUrl+'pingce2.png'" class="img350 dui-border-redius10" mode="widthFix"></image></view>
				</view>
			</view>
			<view class="dui-padding-20 bg-white margin-top-sm">
				<tui-list-cell :arrow="false" padding="10rpx" :lineLeft="false" @click="href(4)">
					<view class="dui-flex-between">
						<view class="dui-fontsize-30 text-bold">专科资讯</view>
					</view>
				</tui-list-cell>
				<view class="dui-margin-t-20">
					<view v-for="(item, index) in data.dpmArticle" :key="index" class="dui-padding-tb-20 dui-borderdashed-bottom" @click="goToNewDetail(item.articleId)">
						<!-- <view class="dui-margin-b-20 text-bold">{{item.articleTitle}}</view> -->
						<view class="dui-flex">
							<image class="message-img" :src="item.articlePic?item.articlePic:minioUrl + item.image" mode="aspectFill" ></image>
							<view class="dui-flex1 dui-margin-l-20">
								<view class="dui-text-omit-3 text-bold dui-margin-b-20">{{item.articleTitle}}</view>
								<view class="text-gray padding-top-xs">{{item.createTime}}</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
				banner: ['banner4.jpg', 'banner5.jpg', 'banner6.jpg'],
				message:[
					{
						title:'2型糖尿病，改变不良生活习惯的动力',
						image:'zixun1.png',
						content:'目前糖尿病中最主要的类型是2型糖尿病，占总糖尿病人数的90~……',
						createTime:'2021-03-23  14:00:00'
					},{
						title:'糖友也能吃的水果清单',
						image:'news1.jpg',
						content:'相信很多糖友都有这一方面的顾虑，很想吃水果，但是又怕吃水果……',
						createTime:'2021-04-07 16:41:22'
					}
				],
				data:{},
				deptId:'',
				loadding: true
			}
		},
		onLoad(options) {
			this.deptId = options.deptId
			this.getData()
		},
		methods:{
			//获取科室详情
			getData() {
				this.loadding = true;
				let data = {
					deptId: this.deptId
				}
				this.tui.request('weapp/dept/getDeptInfo', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						this.data = res.data
					}
					this.loadding = false;
				})
			},
			/* 跳转页面 */
			navigateTo: function(url,urlName) {
				uni.navigateTo({
					url: '../'+url+'/'+urlName
				})
			},
			/* 跳转到详情页面 */
			goToNewDetail(articleId){
				uni.navigateTo({
					url:'../news/newsDetail?articleId=' + articleId
				})
			}
		}
	}
</script>

<style>
	.tui-banner-swiper {
		width: 100%;
		height: 300rpx;
		overflow: hidden;
		transform: translateY(0);
	}
	
	.tui-slide-image {
		width: 100%;
		height: 300rpx;
		display: block;
	}
	/* #ifdef MP-WEIXIN */
	.tui-banner-swiper .wx-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background: none;
		justify-content: space-between;
	}
	
	.tui-banner-swiper .wx-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}
	
	.tui-banner-swiper .wx-swiper-dot-active::before {
		background-color: #fff;
	}
	
	.tui-banner-swiper .wx-swiper-dot.wx-swiper-dot-active {
		width: 16rpx;
	}
	
	/* #endif */
	
	/* #ifndef MP-WEIXIN */
	>>>.tui-banner-swiper .uni-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background-color: none;
		justify-content: space-between;
	}
	
	>>>.tui-banner-swiper .uni-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}
	
	>>>.tui-banner-swiper .uni-swiper-dot-active::before {
		background-color: #fff;
	}
	
	>>>.tui-banner-swiper .uni-swiper-dot.uni-swiper-dot-active {
		width: 16rpx;
	}
	/* #endif */
	
	.content-img{
		width: 270rpx;
		height: 270rpx;
	}
	
	.message-img{
		width: 260rpx;
		height: 160rpx;
		border-radius: 10rpx;
	}
</style>
