<template>
	<view class="container dui-background-white">
		<view v-if="dataList.length > 0" class="dui-padding-20">
			<view v-for="(item, index) in dataList" :key="index" class="dui-padding-20 dui-flex" @click="goToSectionDetail(item.deptId)">
				<view class="dui-flex1">
					<view class="dui-fontsize-30 text-bold dui-margin-b-20">{{item.specialistTypeName}}</view>
					<view class="dui-color-f4 dui-padding-lr-10 dui-margin-b-20 dui-text-omit-2">{{item.specialistIntro}}</view>
					<view class="dui-color-f4">{{item.hospitalName}}</view>
				</view>
				<image class="list-img" :src="item.specialistPic" mode="aspectFill" lazy-load></image>
			</view>
		</view>
		<tui-no-data v-if="dataList.length == 0 && !loadding" :fixed="false" :imgUrl="minioUrl + 'img_nodata.png'" lazy-load="true">暂无数据</tui-no-data>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				loadding: true,
				minioUrl:this.config.minioUrl,//静态图片地址
				dataList: [],
				pageIndex: 1,
				pageSize: 10,
				count:0,
				pullUpOn: true,
				status: 1
			}
		},
		onLoad(options){
			console.log(options)
			this.status = options.status
			this.type = options.type
			this.dataList = []
			this.getDataList()
		},
		methods:{
			//获取专科列表
			getDataList() {
				this.loadding = true;
				let data = {
					pageNum: this.pageIndex,
					pageSize: this.pageSize,
					status: this.status
				}
				this.tui.request('mall-portal/sso/specialists', 'GET', data, false, false, true,'mall').then((res) => {
					console.log(res)
					if (res.code == 200) {
						this.count = res.data.totalPage
						var lists = res.data.list
						this.dataList =this.dataList.concat(lists)
					}
					this.loadding = false;
				})
			},	
			goToSectionDetail(deptId){
				uni.navigateTo({
					url:'./sectionDetail?deptId=' + deptId
				})
			}
		},
		onPullDownRefresh() {
			this.pullUpOn = true
			this.pageIndex = 1;
			this.loadding = true;
			this.dataList = []
			this.getDataList()
			uni.stopPullDownRefresh();
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex >= this.count/this.pageSize) {
				this.loadding = false;
				this.pullUpOn = false;
				this.tui.showToast('已经没有更多了','none')
			} else {
				this.pageIndex = this.pageIndex + 1;
				this.getDataList()
			}
		} ,
	}
</script>

<style>
	.list-img{
		width: 280rpx;
		height: 160rpx;
		border-radius: 10rpx;
	}
</style>
