<template>
	<view class="container dui-fontsize-28">
		<view v-for="(item, index) in dataList" :key="index" class="bg-white dui-padding-20 dui-margin-b-20" @click="goToDetail">
			<view class="dui-flex-between dui-padding-tb-10 dui-border-bottom">
				<view class="dui-flex">
					<image class="icon-image" :src="minioUrl+'docter.png'" mode="widthFix"></image>
					<view class="dui-margin-l-10">{{item.name}}-{{item.address}}</view>
				</view>
				<view>{{item.status == 1?'服务中':'服务结束'}}</view>
			</view>
			<view class="dui-flex dui-padding-tb-10">
				<image class="item-image" :src="minioUrl + item.image"></image>
				<view class="dui-flex-column-between dui-flex1 dui-margin-l-20 content-box">
					<view>
						<view>{{item.goodsName}}</view>
						<view class="dui-color-f4 dui-text-omit-2">{{item.content}}</view>
					</view>
					<view class="dui-flex-between">
						<view class="dui-color-f4">剩余时间：{{item.time}}</view>
						<view>金额：<text class="dui-color-f5">￥{{item.amount}}</text></view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
				dataList:[
					{
						image:'yisheng.png',
						name:'单鹏飞',
						address:'浙江大学医学院第二附属医院',
						status:1,
						goodsName:'包月服务包',
						content:'使用文字、图片与医生线上沟通咨询',
						time:'27日',
						amount:199.0
					},{
						image:'yisheng.png',
						name:'单鹏飞',
						address:'浙江大学医学院第二附属医院',
						status:1,
						goodsName:'包月服务包',
						content:'使用文字、图片与医生线上沟通咨询',
						time:'2日',
						amount:99.0
					}
				]
			}
		},
		methods:{
			goToDetail(){
				uni.navigateTo({
					url:'../service/servicePackageDetail'
				})
			}
		}
	}
</script>

<style>
	.item-image{
		width: 200rpx;
		height: 200rpx;
	}
	.content-box{
		height: 160rpx;
	}
	.icon-image{
		width: 40rpx;
		height: 50rpx;
	}
</style>
