<template>
	<view class="container">
		<view class="dui-border-bottom dui-padding-20 dui-margin-b-20 bg-white">
			<view class="dui-flex-between dui-padding-tb-10 dui-border-bottom">
				<view class="dui-flex">
					<image class="icon-image" :src="minioUrl+'docter.png'" mode="widthFix"></image>
					<view class="dui-margin-l-10">{{dataList.goodsData.name}}-{{dataList.goodsData.address}}</view>
				</view>
				<view>{{dataList.goodsData.status == 1?'服务中':'服务结束'}}</view>
			</view>
			<view class="dui-flex dui-padding-tb-10">
				<image class="item-image" :src="minioUrl + dataList.goodsData.image"></image>
				<view class="dui-flex-column-between dui-flex1 dui-margin-l-20 content-box">
					<view>
						<view>{{dataList.goodsData.goodsName}}</view>
						<view class="dui-color-f4 dui-text-omit-2">{{dataList.goodsData.content}}</view>
					</view>
					<view class="dui-flex-between">
						<view class="dui-color-f4">剩余时间：{{dataList.goodsData.time}}</view>
						<view>金额：<text class="dui-color-f5">￥{{dataList.goodsData.amount}}</text></view>
					</view>
				</view>
			</view>
		</view>
		<view class="dui-padding-20 dui-text-center bg-white">
			<view class="dui-flex title dui-margin-b-10">
				<view class="flex6">服务项目</view>
				<view class="flex4">剩余次数/时长</view>
			</view>
			<view class="dui-flex dui-margin-b-10" v-for="(item,index) in dataList.serviceData" :key="index">
				<view class="flex6">{{item.content}}</view>
				<view class="flex4">{{item.spec}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default{
		data(){
			return{
				minioUrl:this.config.minioUrl,//静态图片地址
				dataList:{
					goodsData:{
						image:'yisheng.png',
						name:'单鹏飞',
						address:'浙医二院',
						status:1,
						goodsName:'包月服务包',
						content:'我就是个商品，不用太在意的。',
						time:'27日',
						amount:199.0
					},
					serviceData:[
						{
							content:'健康档案管理',
							amount:99,
							spec:'1次/月'
						},{
							content:'用药就诊知道方案',
							amount:40,
							spec:'1次/周'
						},{
							content:'运动锻炼指导方案',
							amount:99,
							spec:'1次/月'
						},{
							content:'科学营养三餐指导方案',
							amount:99,
							spec:'1次/月'
						},{
							content:'方案落实跟踪及指导',
							amount:75,
							spec:'1次/周'
						},{
							content:'医生在线图文问诊',
							amount:100,
							spec:'不限次数'
						},{
							content:'医生在线语音问诊',
							amount:99,
							spec:'20分钟/月'
						},{
							content:'医生在线视频问诊',
							amount:199,
							spec:'10分钟/月'
						}
					]
				}
			}
		}
	}
</script>

<style>
	.item-image{
		width: 200rpx;
		height: 200rpx;
	}
	.content-box{
		height: 160rpx;
	}
	.flex6{
		flex: 6;
	}
	.flex4{
		flex: 4;
	}
	.title{
		color: #DDAB4B;
	}
	.icon-image{
		width: 40rpx;
		height: 50rpx;
	}
</style>
