<template>
	<view class="container dui-fontsize-28">
		<block v-if="JSON.stringify(data) != '{}'">
			<image class="serviceImage" :src="data.product.pic"
				mode="widthFix"></image>
			<view class="dui-padding-20">
				<view class="text-bold dui-fontsize-30 dui-margin-b-20">{{data.product.name}}</view>
				<!-- <view class="dui-text-omit-2">{{data.product.description}}</view> -->
				<rich-text :nodes="content"></rich-text>
			</view>
<!-- 					<view class="dui-padding-20">
						<view class="dui-padding-20 dui-flex-center">
							<view class="dui-flex-just-end dui-flex dui-flex1">
								<view class="line"></view>
								<view class="point"></view>
							</view>
							<view class="dui-margin-lf-30">会员权益</view>
							<view class="dui-flex dui-flex1">
								<view class="point"></view>
								<view class="line"></view>
							</view>
						</view>
					</view> -->
<!-- 					<view class="dui-padding-20 dui-text-center">
						<view class="dui-flex title dui-margin-b-10">
							<view class="flex4">服务项目</view>
							<view class="flex3">服务价值</view>
							<view class="flex3">次数/时长</view>
						</view>
						<view class="dui-flex dui-margin-b-10" v-for="(item,index) in dataList" :key="index">
							<view class="flex4">{{item.content}}</view>
							<view class="flex3">{{item.amount}}元</view>
							<view class="flex3">{{item.spec}}</view>
						</view>
					</view> -->
					<view class="dui-padding-20 dui-flex-around">
						<view v-for="(item, index) in snList" :key="index" class="dui-flex-column-center dui-padding-tb-30 content-box" :class="selectIndex == index?'content-box-active':''" @click="selectBuy(index, item.price, item.id)">
							<view v-for="(itemChaild, indexChaild) in item.spData" :key="indexChaild" class="dui-font-bold dui-margin-b-10">{{itemChaild.value}}</view>
							<view class="dui-color-waring dui-margin-b-10">￥<text class="dui-fontsize-32">{{item.price}}</text></view>
							<!-- <view class="lineText dui-margin-b-10">￥{{item.price}}</view> -->
							<view class="dui-fontsize-24 dui-color-f4">{{item.content}}</view>
						</view>
					</view>
			<view class="dui-padding-20 dui-text-end dui-margin-r-30">
				合计金额：<text class="dui-color-f1 dui-font-bold">￥{{data.skuStockList[0].price}}</text>
			</view>
			<view class="dui-padding-20 dui-background-white bottom-btn-box">
<!-- 				<checkbox-group @change="checkChange">
					<label>
						<checkbox :value="true" color="#40bdd1" style="transform:scale(0.5)" /><text
							class="dui-margin-l-10">购买后通知医生</text>
					</label>
				</checkbox-group> -->
				<view class="btn dui-color-fff dui-fontsize-32 dui-font-bold dui-text-center" @click="createOrder" v-if="isBuy">
					立即支付
				</view>
				<view class="butDis dui-color-fff dui-fontsize-32 dui-font-bold dui-text-center" @click="note" v-else>
					立即支付
				</view>
				<!-- 			<view class="dui-flex dui-margin-t-10" style="color: #40bdd1;">
							<view>《XX协议》</view>
							<view>《价格说明》</view>
						</view> -->
			</view>
		</block>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				loadding: true,
				minioUrl: this.config.minioUrl, //静态图片地址
				content: '',
				goodsDetail: {
					name: '包周期服务',
					content: '您绑定的专家医生及其专业的医疗团队，随时待命，为您提供问诊咨询和健康管理服务。'
				},
				dataList: [],
				buyList: [{
					time: '1个月',
					realAmount: '599',
					amount: '1155',
					content: '服务期限30天'
				}, {
					time: '3个月',
					realAmount: '1200',
					amount: '3465',
					content: '服务期限90天'
				}, {
					time: '6个月',
					realAmount: '1800',
					amount: '6930',
					content: '服务期限180天'
				}, ],
				realAmount: 0,
				selectIndex: 0,
				checkValue: '',
				data: {},
				productId: '',
				payInfo: {},
				snList: [],
				productSkuId: '',
				doctorId:'',//医生id
				isBuy:true,//是否可以购买
			}
		},
		onLoad(options) {
			console.log(options)
			this.productId = options.productId
			this.doctorId = options.doctorId
			this.getProductData()
			this.isBind()
		},
		methods: {
			/* 判断是否绑定医生 */
			isBind() {
				/* 请求接口判断是否已绑定此医生 */
				let data = {
					doctorId: this.doctorId
				}
				this.tui.request('mall-portal/sso/check/binding', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						if (res.data == '1') {
							this.isBuy = true
						} else {
						   this.isBuy = false
						}
					} else {}
				})
			},
			//解决富文本图片超出问题
			formatRichText(html) {
				// 去掉img标签里的style、width、height属性
				let newContent = html.replace(/<img[^>]*>/gi, function(match, capture) {
					match = match.replace(/style="[^"]+"/gi, '').replace(/style='[^']+'/gi, '');
					match = match.replace(/width="[^"]+"/gi, '').replace(/width='[^']+'/gi, '');
					match = match.replace(/height="[^"]+"/gi, '').replace(/height='[^']+'/gi, '');
					return match;
				});
				// 修改所有style里的width属性为max-width:100%
				newContent = newContent.replace(/style="[^"]+"/gi, function(match, capture) {
					match = match.replace(/width:[^;]+;/gi, 'max-width:100%;').replace(/width:[^;]+;/gi,
						'max-width:100%;');
					return match;
				});
				// 去掉<br/>标签
				newContent = newContent.replace(/<br[^>]*\/>/gi, '');
				// img标签添加style属性：max-width:100%;height:auto
				newContent = newContent.replace(/\<img/gi,
					'<img style="max-width:100%;height:auto;display:block;margin:0px auto;"');
				return newContent;
			},
			//获取医生商品详情
			getProductData(userId) {
				this.loadding = true;
				let data = {
					id: this.productId
				}
				this.tui.request('mall-portal/product/wx/detail/' + this.productId, 'GET', null, false, false, true,
					'mall').then((res) => {
					if (res.code == 200) {
						this.data = res.data
						if(res.data.product.detailMobileHtml){
							this.content = this.formatRichText(res.data.product.detailMobileHtml);
						}else{
							this.content = this.formatRichText('暂无商品介绍');
						}
						this.snList = res.data.skuStockList
						for (let i = 0; i < this.snList.length; i++) {
							this.snList[i].spData = JSON.parse(this.snList[i].spData)
						}
						this.realAmount = this.snList[0].price
						this.productSkuId = this.snList[0].id
					}
					this.loadding = false;
				})
			},
			selectBuy(index, realAmount, id) {
				if (this.selectIndex == index)
					return
				this.selectIndex = index
				this.realAmount = realAmount
				this.productSkuId = id
			},
			checkChange(e) {
				this.checkValue = e.detail.value[0]
			},
			//支付
			pay(orderId) {
				this.loadding = true;
				let data = {
					orderId: orderId,
					openid: uni.getStorageSync('openId')
				}
				this.tui.request('mall-portal/order/pay', 'POST', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						this.payInfo = res.data
						this.weChartPay(res.data)
					}
					this.loadding = false;
				})
			},
			//创建订单
			createOrder() {
				this.loadding = true;
				let data = {
					productSkuId: this.data.skuStockList[0].id,
				}
				this.tui.request('mall-portal/order/createOrder', 'POST', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						this.pay(res.data.order.id)
					}
					this.loadding = false;
				})
			},
			//调起微信支付
			weChartPay(data) {
				uni.requestPayment({
					provider: 'wxpay',
					timeStamp: data.payParams.timestamp,
					nonceStr: data.payParams.noncestr,
					package: data.payParams.package,
					signType: data.payParams.signType,
					paySign: data.payParams.sign,
					success: function(res) {
						uni.redirectTo({
							url: '../my/orderList?type=pay'
						})
					},
					fail: function(err) {
						uni.showModal({
							title: '提示',
							content: '支付失败',
							showCancel: false,
							success: function(res) {
								if (res.confirm) {
									uni.navigateBack({
										delta: 1
									})
								}
							}
						})
					}
				});
			},
			/* 提示 */
			note(){
				this.tui.showToast('请先绑定此医生','none')
			}
		}
	}
</script>

<style>
	.container {
		padding-bottom: 240rpx;
	}

	.serviceImage {
		width: 100%;
		height: auto;
	}

	.line {
		width: 70%;
		height: 2rpx;
		background-color: #DDAB4B;
	}

	.point {
		width: 10rpx;
		height: 10rpx;
		border-radius: 50%;
		background-color: #DDAB4B;
	}

	.title {
		color: #DDAB4B;
	}

	.flex3 {
		flex: 3;
	}

	.flex4 {
		flex: 4;
	}

	.lineText {
		display: inline-block;
		color: #a0a0a0;
		text-decoration: line-through;
		padding-left: 6px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}

	.content-box {
		width: 30%;
		border-radius: 10rpx;
		border: 4rpx solid;
		border-color: #ffffff;
		background-color: #ffffff;
	}

	.content-box-active {
		border-color: #FFD784;
		background-color: #FCF4E9;
	}

	.btn {
		height: 80rpx;
		line-height: 80rpx;
		width: 100%;
		border-radius: 60rpx;
		background-color: #40bdd1;
	}
	.butDis {
		height: 80rpx;
		line-height: 80rpx;
		width: 100%;
		border-radius: 60rpx;
		background-color: #c4c4c4;
	}
	.bottom-btn-box {
		width: 100%;
		position: fixed;
		bottom: 0;
	}
</style>
