<template>
	<view class="v-reserve-page">
		<view class="v-week-list">
			<view v-for="(item,index) in weeks" :key="index" class="v-week-list-item">
				{{ item }}
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data (){
			return {
				weeks: ['周一', '周二', '周三', '周四', '周五', '周六', '周日', ]
			}
		}
	}
</script>

<style scoped>
	.v-reserve-page{
		padding-top: 10rpx;
		padding-left: 25rpx;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #e7e8ea !important;
	}
	.v-week-list{
		text-align: center;
		display: flex;
		align-items: center;
		/* justify-content: space-around; */
	}
	.v-week-list-item{
		background-color: #d1d1d1;
		width: 100rpx;
		height: 90rpx;
		padding-top: 20rpx;
		color: #727378;
	}
</style>
