/*app.wxss*/
/* #ifndef APP-NVUE */
page {
	background-color: #f9f9f9;
	font-size: 28rpx;
}

::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	color: transparent !important;
	display: none;
}

button::after {
	border: none;
}

.container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}

.tui-phcolor {
	color: #ccc;
	font-size: 32rpx;
	overflow: visible;
}



.tui-opcity {
	opacity: 0.5;
}

.tui-hover {
	background-color: #f7f7f9 !important;
}

.tui-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



/*按钮样式*/

/*列表统一样式 */
.tui-list-item {
	position: relative;
}

.tui-list-item::after {
	content: '';
	position: absolute;
	border-bottom: 1rpx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	bottom: 0;
	right: 0;
	left: 30rpx;
}

.tui-last::after {
	border-bottom: 0 !important;
}

.tui-button-primary {
	width: 100%;
	height: 90rpx;
	line-height: 90rpx;
	background: linear-gradient(-90deg, #5677fc, #5c8dff);
	border-radius: 45rpx;
	color: #fff;
	font-size: 36rpx;
}

.tui-button-hover {
	color: #d5d4d9;
	background: linear-gradient(-90deg, #4a67d6, #4e77d9);
}

.tui-button-gray {
	background: #ededed;
	color: #999 !important;
}

.tui-button-gray_hover {
	background: #d5d5d5 !important;
	color: #898989;
}

.tui-button-white {
	background: #fff;
	color: #333 !important;
}

.tui-button-white_hover {
	background: #e5e5e5 !important;
	color: #2e2e2e !important;
}

/* #endif */

.dui-zIndex-10000{
	z-index: 10000;
}

.dui-padding-30{
	padding:30rpx;
}
.dui-padding-lr-10{
	padding-left: 10rpx;
	padding-right: 10rpx;
}
.dui-padding-lr-20{
	padding-left: 20rpx;
	padding-right: 20rpx;
}
.dui-padding-lr-30{
	padding-left: 30rpx;
	padding-right: 30rpx;
}
.dui-padding-lr-40{
	padding-left: 40rpx;
	padding-right: 40rpx;
}

.dui-padding-lr10-tb4{
	padding-left: 10rpx;
	padding-right: 10rpx;
	padding-top: 4rpx;
	padding-bottom: 4rpx;
}
.dui-padding-10{
	padding: 10rpx;
}
.dui-padding-20{
	padding: 20rpx;
}
.dui-margin-30{
	margin:30rpx;
}
.dui-margin-t-10{
	margin-top: 10rpx;
}
.dui-margin-t-20{
	margin-top: 20rpx;
}
.dui-padding-tb-10{
	padding-top: 10rpx;
	padding-bottom: 10rpx;
}
.dui-padding-tb-20{
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

.dui-padding-tb-30{
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}

.dui-margin-tb-10{
	margin-top: 10rpx;
	margin-bottom: 10rpx;
}

.dui-margin-t-30{
	margin-top: 30rpx;
}

.dui-margin-t-40{
	margin-top: 40rpx;
}
.dui-margin-t-50{
	margin-top: 50rpx;
}
.dui-margin-t-60{
	margin-top: 60rpx;
}
.dui-margin-t-80{
	margin-top: 80rpx;
}
.dui-margin-t-100{
	margin-top: 100rpx;
}
.dui-margin-b-10{
	margin-bottom: 10rpx;
}
.dui-margin-b-20{
	margin-bottom: 20rpx;
}

.dui-margin-b-30{
	margin-bottom: 30rpx;
}

.dui-margin-b-40{
	margin-bottom: 40rpx;
}

.dui-margin-lf-10{
	margin: 0 10rpx;
}

.dui-margin-lf-20{
	margin: 0 20rpx;
}

.dui-margin-lr-10{
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.dui-margin-lf-30{
	margin-left: 30rpx;
	margin-right: 30rpx;
}
.dui-margin-r-10{
	margin-right: 10rpx;
}
.dui-margin-r-20{
	margin-right:20rpx;
}
.dui-margin-r-30{
	margin-right: 30rpx;
}
.dui-margin-r-60{
	margin-right: 60rpx;
}
.dui-margin-l-10{
	margin-left:10rpx;
}
.dui-margin-l-20{
	margin-left:20rpx;
}
.dui-margin-l-30{
	margin-left:30rpx;
}
.dui-fontsize-20{
	font-size: 20rpx;
}

.dui-fontsize-24{
	font-size: 24rpx;
}

.dui-fontsize-26{
	font-size: 26rpx;
}

.dui-fontsize-28{
	font-size: 28rpx;
}
.dui-fontsize-30{
	font-size: 30rpx;
}
.dui-fontsize-32{
	font-size: 32rpx;
}
.dui-fontsize-36{
	font-size: 36rpx;
}
.dui-fontsize-40{
	font-size: 40rpx;
}
.dui-fontsize-50{
	font-size: 50rpx;
}
.dui-fontsize-60{
	font-size: 60rpx;
}
.dui-fontsize-80{
	font-size: 80rpx;
}

.dui-background-white{
	background-color: #ffffff;
}

.dui-background-gray{
	background-color: #fcfcfc;
}
.dui-background-blue{
	background-color: #40BDD1;
}
.dui-background-blackgray{
	background-color: #807C7C;
}

.dui-background-green{
	background-color: #70E300;
}

.dui-background-red{
	background-color: #FF0000;
}

.dui-background-orange{
	background-color: #F37B1D;
}

.dui-background-yellow{
	background-color: #F2B81D;
}
.dui-background-f1f1{
	background-color: #f1f1f1;
}

.dui-background-F5F8FF{
	background-color: #F5F8FF;
}
.dui-background-transparent{
	background-color: transparent;
}

.dui-color-f1{
	color: #FD5C62;
}

.dui-color-f2{
	color: #242424;
}

.dui-color-333{
	color: #333333
}

.dui-color-f3{
	color: #101010;
}

.dui-color-fff{
	color: #fff;
}

.dui-color-f4{
	color: #88898A;
}

.dui-color-green{
	color: green
}

.dui-color-4177ff{
	color: #4177ff;
}
.verticalM{
	vertical-align: middle;
}

.dui-color-f5{
	color: #FF1A22;
}
.dui-color-waring{
	color:#fc872d!important;
}
.dui-color-555{
	color:#555;
}
.dui-text-omit-1{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.dui-text-omit-2{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.dui-text-omit-3{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.dui-font-bold{
	font-weight: bold;
}
.dui-text-center{
	text-align: center;
}
.dui-text-end{
	text-align: end;
}
.dui-flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.dui-flex-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dui-flex-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.dui-flex-column{
	flex-direction: column;
}

.dui-flex-column-center{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.dui-flex-column-end{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.dui-flex-column-between{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.dui-flex{
	display: flex;
	align-items: center;
}

.dui-flex-align-end{
	display: flex;
	align-items: flex-end;
}

.dui-flex-just-end{
	display: flex;
	justify-content: flex-end;
}
.dui-flex-start{
	display: flex;
	align-items: flex-start;
}

.dui-flex-start-between{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.dui-flex-wrap{
	flex-wrap: wrap;
}

.dui-border-bottom{
	border-bottom: 1rpx #dddddd solid;
}

.dui-border-bottom-black{
	border-bottom: 1rpx #777777 solid;
}

.dui-border-left{
	border-left: 1rpx #cccccc solid;
}

.dui-border-right{
	border-right: 1rpx #cccccc solid;
}

.dui-border-top{
	border-top: 1rpx #dddddd solid;
}
.dui-borderdashed-bottom{
	border-bottom: 1rpx #dddddd dashed;
}
.dui-bottom-redius{
	border-bottom-left-radius: 24rpx;
	border-bottom-right-radius: 24rpx;
}

.dui-border-redius10{
	border-radius: 10rpx;
}

.dui-border-box{
	border: 1rpx #bbbbbb solid;
	border-radius: 30rpx;
}


.dui-flex1{
	flex: 1;
}

.dui-flex-baseline{
	display: flex;
	align-items: baseline;
}

.dui-border-redius{
	border-radius: 24rpx;
}

.dui-image-redius-80{
	width:80rpx;
	height:80rpx;
	border-radius:50%;
	border-width:0;
	border-color:#fff;
}

.dui-width-100{
	width: 100%;
}

.dui-coverBox{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10000;
}

.dui-coverBox-transparent{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
}

.dui-letter-spacing-4{
	letter-spacing: 4rpx;
}
.dui-lineheight-2{
	line-height: 2;
}
.dui-lineheight-1-3{
	line-height: 1.3;
}
.dui-lineheight-80{
	line-height: 80rpx;
}
.dui-height-30{
	height:30rpx;
}
.dui-gray-box{
	width: 100%;
	height: 10rpx;
}
.dui-img-80{
	width:80rpx;
	height:80rpx;
}
.dui-img-60{
	width:60rpx;
	height:60rpx;
}
.dui-text-underline{
	text-decoration: underline;
}
.dui-bg-cblue {
	background-color: #40bdd1;
	color: #ffffff;
}
.dui-text-cblue,
.dui-line-cblue,
.dui-lines-cblue {
	color: #40bdd1;
}
radio,checkbox{
  transform:scale(.6)
}
