<template>
	<view class="container dui-fontsize-28">
		<view class="dui-flex-column-center dui-padding-lr-40 dui-background-white header-box" :style="'background-image:url(' + minioUrl + 'icon_shouye/background_bhd_sy.png)'">
		</view>
		<view class="banner-box">
			<swiper :indicator-dots="true" :autoplay="true" :interval="5000" :duration="150" class="tui-banner-swiper"
				:circular="true" indicator-color="rgba(255, 255, 255, 0.8)" indicator-active-color="#fff">
				<swiper-item class="banner-item" v-for="(item, index) in banner" :key="index" @tap.stop="navigateTo('news','newsList')">
					<image :src="item.pic" class="tui-slide-image" mode="widthFix" />
				</swiper-item>
			</swiper>
		</view>
		<view style="padding-top: 60rpx;" class="dui-padding-tb-20 dui-padding-lr-40 bg-white dui-flex-center">
			<tui-icon name="news" :size="20" color="#dddddd"></tui-icon>
			<view class="dui-padding-tb-10 dui-text-center">欢迎您进入吾家医</view>
		</view>
		<view class="dui-padding-lr-40 bg-white padding-bottom-sm">
			<tui-list-cell :arrow="true" padding="20rpx 0rpx" :arrowRight="false" :lineLeft="false"
				@click="navigateTo('service','sectionList?status=1')">
				<view class="dui-flex-between text-bold dui-fontsize-30">
					专病专科
				</view>
			</tui-list-cell>
			<view class="dui-flex dui-margin-t-20">
				<block v-if="sectionList.length > 0">
					<view v-for="(item, index) in sectionList" :key="index"
						class="dui-margin-lf-10 dui-flex-column-center dui-border-redius sectionBox dui-padding-10"
						@click="navigateTo('service','sectionDetail?deptId=' + item.deptId)">
						<image :src="minioUrl+'department/dep'+item.specialistType+'.png'"
							@error="errorImage('sectionList', index)" class="sectionImg dui-border-redius10"
							mode="widthFix"></image>
						<view>{{item.specialistTypeName}}</view>
					</view>
				</block>
				<block v-else-if="sectionList.length == 0 && !loadding">
					<view class="dui-margin-lf-10 ">
						<view class="img200 dui-border-box dui-border-redius10 dui-flex-center"
							@click="navigateTo('service','doctorList?status=0')">暂未绑定</view>
					</view>
				</block>
			</view>
		</view>
		<view class="dui-padding-lr-40 bg-white dui-margin-t-10" v-if="doctorList.length >0">
			<tui-list-cell :arrow="true" padding="20rpx 0rpx" :arrowRight="false" :lineLeft="false"
				@click="navigateTo('service','doctorList?status=1')">
				<view class="text-bold dui-fontsize-30">
					专属医生
				</view>
			</tui-list-cell>
			<view class="dui-flex-between dui-margin-t-20 padding-bottom-sm">
				<view style="width: 49%;" class="dui-flex-between dui-background-F5F8FF dui-color-333 dui-border-redius10"
					:class="index == 1 ? 'margin-left':''" v-for="(item, index) in doctorList" :key="index"
					@click="navigateTo('service','doctorDetail?userId=' + item.userId)">
					<view>
						<image class="header-pic" :src="item.avatar?item.avatar:minioUrl+'yisheng.png'">
						</image>
					</view>
					<view class="header-text-box dui-padding-tb-20 dui-fontsize-24 dui-flex-column-between">
						<view class="dui-text-omit-1">{{item.dpmUmsDoctor.realName}}　{{item.postName?item.postName:''}}
						</view>
						<view class="text-bold dui-text-omit-1">{{item.dept.deptName}}</view>
						<view class="dui-text-omit-1">{{item.deptUpName}}</view>
					</view>
				</view>
			</view>
		</view>
		<view class="dui-padding-lr-40 dui-margin-t-10 bg-white padding-bottom-sm">
			<tui-list-cell :arrow="false" padding="20rpx 0rpx" :lineLeft="false" @click="href(4)">
				<view class="dui-flex-between">
					<view class="text-bold dui-fontsize-30">医患互动</view>
				</view>
			</tui-list-cell>
			<view class="tui-scroll-h dui-flex-between">
				<view v-for="(tab, index) in tabBars" :key="tab.id" class="tui-tab-item" :id="tab.id"
					:data-current="index" @click="tabClick">
					<!-- #ifdef APP-PLUS -->
					<text class="tui-tab-item-title"
						:class="{ 'tui-tab-item-title-active': tabIndex == index }">{{ tab.name }}</text>
					<!-- #endif -->

					<!-- #ifndef APP-PLUS -->
					<view class="tui-tab-item-title" :class="{ 'tui-tab-item-title-active': tabIndex == index }">
						{{ tab.name }}
					</view>
					<!-- #endif -->
				</view>
			</view>
			<view class="">
				<view class="dui-flex dui-padding-tb-20 dui-borderdashed-bottom">
					<image class="header-pic" :src="minioUrl + 'drshan.png'"></image>
					<view class="dui-flex1 dui-margin-l-20">
						<view class="dui-flex-between">
							<view>单鹏飞医生回复了您</view>
							<view class="dui-fontsize-24 dui-color-f4">2021-04-10 11:20:15</view>
						</view>
						<view class="dui-fontsize-26 dui-color-f4 dui-margin-t-10 dui-text-omit-2">
							按照您目前的情况来看，需要保持用药，每日需早餐前及餐后测量血糖，并随时观察情况，出现迷糊、眼黑等症状及时就诊。
						</view>
					</view>
				</view>
				<view class="dui-flex dui-padding-tb-20 dui-borderdashed-bottom">
					<image class="header-pic" :src="minioUrl + 'drzhao.png'"></image>
					<view class="dui-flex1 dui-margin-l-20">
						<view class="dui-flex-between">
							<view>赵鹏医生回复了您</view>
							<view class="dui-fontsize-24 dui-color-f4">2021-04-09 10:15:20</view>
						</view>
						<view class="dui-fontsize-26 dui-color-f4 dui-margin-t-10 dui-text-omit-2">
							您目前的状态平稳，每日按时按量服药即可。
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="dui-padding-lr-40 dui-margin-t-10 bg-white padding-bottom">
			<tui-list-cell :arrow="true" padding="20rpx 0rpx" :lineLeft="false" @click="navigateTo('my','evaluationList')">
				<view class="dui-flex-between text-bold dui-fontsize-30">
					健康评测
				</view>
			</tui-list-cell>
			<view class="flex justify-between dui-margin-t-20" @click="navigateTo('my','evaluationDetail')">
				<view>
					<image :src="minioUrl+'pingce1.png'" class="img350 dui-border-redius10" mode="widthFix"></image>
				</view>
				<view>
					<image :src="minioUrl+'pingce2.png'" class="img350 dui-border-redius10" mode="widthFix"></image>
				</view>
			</view>
		</view>
		<!--加载loadding-->
		<tui-loading v-if="loadding"></tui-loading>
	</view>
</template>

<script>
	import {
		mapMutations
	} from 'vuex';
	import {
		genTestUserSig
	} from '../../static/utils/GenerateTestUserSig'
	import {
		mapState,
		mapGetters
	} from 'vuex'
	import {
		throttle
	} from '../../utils/index'
	export default {
		data() {
			return {
				loadding: true,
				minioUrl: this.config.minioUrl, //静态图片地址
				banner: ['banner1.png', 'banner2.png', 'banner3.png'],
				tabBars: [{
						name: '我的回复',
						id: 'answer'
					},
					{
						name: '热点问题',
						id: 'question'
					}
				],
				scrollInto: '',
				showTips: false,
				navigateFlag: false,
				pulling: false,
				tabIndex: 0,
				conversation: {},
				sectionList: [],
				doctorList: []
			}
		},
		onLoad(option) {
			//option.scene = 21
			/* if (option.scene) {
				const scene = option.scene
				const doctorId = option.scene
				if (doctorId) {
					this.isScene = true
				}
				this.isBind(doctorId)

			} else {} */
			let doctorId = uni.getStorageSync('doctorId')
			console.log(doctorId, '123')
			//let doctorId ='144'
			if (doctorId) {
				/* 判断是否已绑定此医生 */
				this.isBind(doctorId)
				uni.setStorageSync('doctorId', '')
			}else{
				this.getDoctorList(0)
				//this.bindNum()
			}
			
		},
		onShow() {
			this.getBannerList()
			this.getSectionList()
			this.getDoctorList(1)
		},
		computed: {
			...mapState({
				allConversation: state => state.conversation.allConversation,
				isSdkReady: state => state.global.isSdkReady
			}),
			...mapGetters(['totalUnreadCount', 'myInfo'])
		},
		methods: {
			//获取banner列表
			getBannerList() {
				this.loadding = true;
				var data = {
					type: 0,
					status: 1
				}
				this.tui.request('weapp/advertise/list', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						this.banner = res.rows
					}
					this.loadding = false;
				})
			},
			//获取专科列表
			getSectionList() {
				this.loadding = true;
				let data = {
					pageNum: 1,
					pageSize: 3,
					status: 1
				}
				this.tui.request('mall-portal/sso/specialists', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						this.count = res.data.total
						var lists = res.data.list
						this.sectionList = lists
					}
					this.loadding = false;
				})
			},
			//获取医生列表
			getDoctorList(status) {
				this.loadding = true;
				let data = {
					pageNum: 1,
					pageSize: 2,
					status:status
				}
				this.tui.request('mall-portal/sso/doctors', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						this.count = res.data.total
						var lists = res.data.list
						if(status == 1){
							console.log("专属医生")
							
							this.doctorList = lists
						}else{
							console.log("是否有已扫未绑医生")
							if(res.data.total >0){
								console.log("弹出最近已扫未绑的医生")
								this.docterInfo(lists[0].userId)
							}
						}
						
					}
					this.loadding = false;
				})
			},
			/* 判断是否绑定医生 */
			isBind(id) {
				/* 请求接口判断是否已绑定此医生 */
				let data = {
					doctorId: id
				}
				this.tui.request('mall-portal/sso/check/binding', 'GET', data, false, false, true, 'mall').then((res) => {
					if (res.code == 200) {
						if (res.data == '1') {
							/* 已绑定不弹框提示绑定 不做任何操作*/
							uni.showModal({
								title: '温馨提示',
								content: '您已绑定过此医生',
								showCancel: false,
								confirmText: "确定",
								success: function(res) {}
							});
						} else {
							/* 获取医生信息 后弹框提示去绑定*/
							this.docterInfo(id)
						}
					} else {}
				})
			},
			/* 绑定医生数量 */
			bindNum() {
				var data = {}
				this.tui.request('mall-portal/sso/wx/doctors/count', 'GET', data, false, false, true, 'mall').then((
				res) => {
					if (res.code == 200) {
						/* 未绑定任何医生时弹出默认医生 */
						if (res.data == 0) {
							this.docterInfo('0')
						}
					} else {
						this.tui.showToast(res.message, 'none')
					}
				})
			},
			/* 获取医生信息 */
			docterInfo(id) {
				var that = this
				let data = {
					userId: id
				}
				this.tui.request('weapp/doctor/getDoctorInfo', 'GET', data, false, false, true).then((res) => {
					if (res.code == 200) {
						/* 获取到医生信息弹框 */
						uni.showModal({
							title: '绑定专属医生',
							content: '请确认需要绑定的医生信息 ' + res.data.dpmUmsDoctor.realName + ' ' + res.data
								.deptUpName + ' ' + res.data.dept.deptName,
							showCancel: true,
							confirmText: "确定",
							success: function(res) {
								if (res.confirm) {
									that.doBind(id)
								}
							}
						});

					} else {


					}
				})
			},
			/* 绑定医生 */
			doBind(id) {
				var data = {
					doctorId: id
				}
				this.tui.request('mall-portal/sso/binding?doctorId=' + id, 'POST', data, false, false, true, 'mall').then((
					res) => {
					if (res.code == 200) {
						this.tui.showToast('绑定成功', 'none')
						this.getSectionList()
						this.getDoctorList()
					} else {
						this.tui.showToast(res.message, 'none')
					}
				})
			},
			tabClick(e) {
				let index = e.target.dataset.current || e.currentTarget.dataset.current;
				this.switchTab(index);
			},
			switchTab(index) {
				if (this.tabIndex === index) return;
				this.tabIndex = index;
			},
			//图片加载失败显示默认图片
			errorImage(dataArray, index) {
				this.sectionList[index].specialistType = 999
			},
			/* 跳转页面 */
			navigateTo: function(url, urlName) {
				uni.navigateTo({
					url: '../' + url + '/' + urlName
				})
			},
			/* 获取微信运动数据 */
			moveData() {
				var _this = this
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						wx.getWeRunData({
							success(resRun) {
								let data = {
									encryptedData: resRun.encryptedData,
									iv: resRun.iv,
									code: loginRes.code
								}
								//3、解密步骤2的数据；
								_this.tui.request('wechat/decrypt', 'POST', data, false, false, true)
									.then((res) => {
										if (res.code == 200) {
											this.phone = res.data.phoneNumber
											uni.setStorageSync("phone", res.data.phoneNumber)
											this.login()
										} else {

										}
									})
							}
						})
					}
				})

			}
		}
	}
</script>

<style>
	.header-box {
		width: 100%;
		height: 435rpx;
		background-size: cover;
		background-position: top;
	}
	
	.banner-box{
		    width: 100%;
		    padding: 0 40rpx;
		    box-sizing: border-box;
		    position: absolute;
		    z-index: 10000;
	}

	.tui-banner-swiper {
		/* position: absolute; */
		width: 100%;
		margin: 0 auto;
		height: 300rpx;
		overflow: hidden;
		transform: translateY(0);
		margin-top: 180rpx;
		border-radius: 20rpx;
	}
	
	.banner-item{
		
	}

	.tui-slide-image {
		width: 100%;
		height: 300rpx;
		display: block;
	}

	/* #ifdef MP-WEIXIN */
	.tui-banner-swiper .wx-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background: none;
		justify-content: space-between;
	}

	.tui-banner-swiper .wx-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}

	.tui-banner-swiper .wx-swiper-dot-active::before {
		background-color: #fff;
	}

	.tui-banner-swiper .wx-swiper-dot.wx-swiper-dot-active {
		width: 16rpx;
	}

	/* #endif */

	/* #ifndef MP-WEIXIN */
	>>>.tui-banner-swiper .uni-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background-color: none;
		justify-content: space-between;
	}

	>>>.tui-banner-swiper .uni-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}

	>>>.tui-banner-swiper .uni-swiper-dot-active::before {
		background-color: #fff;
	}

	>>>.tui-banner-swiper .uni-swiper-dot.uni-swiper-dot-active {
		width: 16rpx;
	}

	/* #endif */

	.tui-scroll-h {
		height: 80rpx;
		background-color: #ffffff;
	}

	.tui-line-h {
		/* #ifdef APP-PLUS */
		height: 1rpx;
		background-color: #cccccc;
		/* #endif */
		position: relative;
	}

	/* #ifndef APP-PLUS*/
	.tui-line-h::after {
		content: '';
		position: absolute;
		border-bottom: 1rpx solid #cccccc;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		bottom: 0;
		right: 0;
		left: 0;
	}

	/* #endif */

	.tui-tab-item {
		flex: 1;
		/* #ifndef APP-PLUS */
		display: inline-block;
		/* #endif */
		flex-wrap: nowrap;
		padding-left: 34rpx;
		padding-right: 34rpx;
	}

	.tui-tab-item-title {
		color: #555;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		flex-wrap: nowrap;
		/* #ifndef APP-PLUS */
		white-space: nowrap;
		/* #endif */
	}

	.tui-tab-item-title-active {
		border-bottom: 6rpx #40bdd1 solid;
		text-align: center;
	}

	.header-pic {
		width: 100rpx;
		height: 100rpx;
		border-radius: 50%;
		margin-left: 20rpx;
		margin-right: 20rpx;
	}

	.header-text-box {
		height: 160rpx;
		line-height: 1.5;
	}

	.sectionBox {
		width: 220rpx;
		height: 160rpx;
		background-color: #E9F3FF;
	}

	.sectionImg {
		width: 100rpx;
		height: 100rpx;
	}
</style>
